[2017-12-24 14:29] heyrhett opened #1 "Change Name to Bitcoin Private (Rebrand)"
Replace instances of Zclassic with Bitcoin Private where applicable

[2017-12-24 18:41] Hohhle commented on #1
Gotta start somewhere. I might as well do this.

[2017-12-24 19:11] skyl commented on #1
Is the goal to maintain the Zclassic fork and this fork or just this fork? Do you have a post what the goal and which chain(s) will be used, how chain splits will happen, etc?

[2017-12-25 12:05] heyrhett commented on #1
Closed with https://github.com/BTCPrivate/BitcoinPrivate/pull/2

[2017-12-25 12:05] #1 closed

[2017-12-25 12:18] heyrhett opened #3 "Add arbitrary transactions as coinbase inputs at a given block height"
Full nodes check Transactions and Blocks for validity.

Many of the validity checks are skipped for Coinbase transactions, but a Block check is made to ensure that there is only 1 Coinbase transaction per block.  Both of these checks happen in main.cpp.  I have included screenshots here.

What we want to do is:

1. For a given Block Height, X, allow the block size to be larger.
2. Include any numb

[2017-12-25 12:25] heyrhett opened #4 "Get Unspent Output Set For Bitcoin Private Fork"
https://blockchair.com/bitcoin-cash/outputs?q=is_spent(0)

Here is one way to do it for Bitcoin Cash... 65M results.

https://github.com/Blockchair/Blockchair.Support/issues/53

<img width="876" alt="screen shot 2017-12-25 at 6 24 22 am" src="https://user-images.githubusercontent.com/2388024/34339636-517f7dfc-e93c-11e7-8af4-7530679554f0.png">

[2017-12-25 14:41] coinsoncoins commented on #4
for BTC-fork minus segwit, how about
https://blockchair.com/bitcoin/outputs?q=is_spent(0),type(pubkeyhash)
https://blockchair.com/bitcoin/outputs?q=is_spent(0),type(pubkey)
https://blockchair.com/bitcoin/outputs?q=is_spent(0),type(scripthash)
https://blockchair.com/bitcoin/outputs?q=is_spent(0),type(multisig)
https://blockchair.com/bitcoin/outputs?q=is_spent(0),type(nulldata)
https://blockchair.co

[2017-12-25 15:31] heyrhett commented on #4
We can't query more than a million at a time easily for free. Any way you can break those up, maybe by date range so we know we can always download all the results easily for a given block height snapshot?

[2017-12-25 17:26] coinsoncoins commented on #4
looking into this

[2017-12-25 18:21] coinsoncoins commented on #4
blockchair will only let you filter 2 parameters at once, so we can do multiple requests which are less than 1 million cells each

https://api.blockchair.com/bitcoin/outputs?q=is_spent(0),transaction_id(0..500000)&fields=transaction_id,index,time,recipient,type,value&export=csv
https://api.blockchair.com/bitcoin/outputs?q=is_spent(0),transaction_id(500000..1000000)&fields=transaction_id,index,time

[2017-12-26 13:39] heyrhett opened #5 "Mac build error"
From: https://github.com/z-classic/zclassic/issues/111

### Describe the issue
[code]

macOS 10.13
[code]

[2017-12-27 04:33] ulloa commented on #4
I am writing an R script that will download these all and then filter the data (for not type witness) using R into one large CSV. You will be able to run it using a shell script. Is that what we want?

[2017-12-27 04:41] heyrhett commented on #4
I think that would help to make sure we can reliably download them

[2017-12-27 05:37] heyrhett commented on #5
Fixed by https://github.com/BTCPrivate/BitcoinPrivate/pull/6

[2017-12-27 05:37] #5 closed

[2017-12-27 07:16] airk42 commented on #3
If no one is working on it, I can take it

[2017-12-27 08:13] heyrhett commented on #3
Added you as a collaborator, then I'll assign you.  This is the most critical development blocker right now, so we should have regular meetings for all the developers working on it.

[2017-12-27 08:16] Mrwh0 commented on #3
i could help too .

[2017-12-27 08:16] heyrhett opened #7 "Make Bitcoin Private Work With Hardware Wallets"
We will need to register for a SLIP-44

https://github.com/satoshilabs/slips/blob/master/slip-0044.md

I believe then we will have custom Trezor support.  Ledger Nano may require developing a custom app for the device.

[2017-12-27 08:24] heyrhett commented on #3
Great, so a little more details about how I think we should do this

1. We announce a Bitcoin snapshot date (allow people time to move coins to private non-segwit wallets)
2. We take the snapshot at the given date
3. Create fork that reduces difficulty at block X and adds 1000 coinbase inputs per block for 65,000 blocks (65M total addresses).
4. Have a small set of miners mine with this code.  It

[2017-12-27 08:53] Mrwh0 commented on #3
X block max size ?

[2017-12-27 08:59] heyrhett commented on #3
X is the block height we choose in Zclassic to do the fork.  Miners download the code before block X.

I think we should keep the block size limit of 2MB for all blocks.

[2017-12-27 09:02] Mrwh0 commented on #3
i just asking because max size variable is on our way . good 2M im setting
env. need few hours to start on main .

On Dec 27, 2017 4:29 AM, "Rhett Creighton" <notifications@github.com> wrote:

[2017-12-27 09:42] heyrhett opened #8 "Add Replay Protection (for Zclassic and Bitcoin)"
We need to add replay protection as it is a requirement for many exchanges and wallets.

Here is part of how Bitcoin Cash did it:
https://github.com/Bitcoin-ABC/bitcoin-abc/commit/e49826c1fcc36e5ae26de0ad4d06e2063a759e73

And Bitcoin Gold
With SIGHASH_FORKID
https://github.com/BTCGPU/BTCGPU/pull/109

[2017-12-27 13:29] ackusativ commented on #5
BCH addr:
1N2L23LBPfccSTwbQgCNjuEzPY9tn1pbYB

[2017-12-27 14:38] heyrhett commented on #5
Thank you for helping with this pull request, a donation of $1k in Bitcoin Cash was made for this bug bounty.

https://blockdozer.com/insight/address/1N2L23LBPfccSTwbQgCNjuEzPY9tn1pbYB

[2017-12-27 16:35] airk42 commented on #3
@heyrhett couple questions:
1. so, now you don't want to have a single big block with all coinbase inputs (as per your first comment) and instead there are will be 65K of blocks with 1000 coinbase inputs per block?
2. is this issues (#3) is to cover only checks for these artificial blocks or for creating these blocks as well?

[2017-12-27 17:57] airk42 commented on #3
Here is a check for multiple coinbase transactions per block

[code]

If we DO want to check for bigger block size for forked transactions, I guess it can be done, smth like this:
unsigned int fBlockSize = MAX_BLOCK_SIZE;

...

if (bForking){
       fCoinbasePerBlock = 1000;
       fBlockSize = MAX_FORK_BLOCK_SIZE;
   }
...

   // Size limits
    if (block.vtx.empty() || block.vtx.size() > fBlockS

[2017-12-27 18:11] leto commented on #8
I am willing to take this bounty, there is a bounty right???

[2017-12-27 18:14] leto commented on #8
I reviewed the original PR that added 2way replay to BTG, which had a bounty specified in BTG which worked out to be 1.2BTC at the time. I am willing to be paid in BTC or ZCL for the bounty.

[2017-12-28 02:59] ch4ot1c opened #10 "Mac Installation Caveats"
In the installation steps for Mac, some commands are only partially working:

`nproc` doesn't exist on my instance of MacOS (10.12.6). I replaced it with `sysctl -n hw.physicalcpu`, and was able to build without the error that had appeared: `clang: error: unable to execute command: posix_spawn failed: Resource temporarily unavailable`.

I also get a slew of these upon (successfully) building:
`ld:

[2017-12-28 05:45] Teecoy opened #12 "Working ZClassic Wallet Download on Website"
I'm having problems downloading the Wallet for Windows, off of the website. I've seen some videos, not on the website, on how to do it. If we can get confirmation that those are safe to follow, and add them to the website, I'll pitch in 0.1 BCH to whoever needs to be compensated. For me, and the other Tech noobs, I think it's best we feel comfortable downloading a wallet that we know is 100% safe.

[2017-12-28 06:31] gktown commented on #12
We could write posts regarding open source contributions on utopian.io. They pay for contributions that fit their posting criteria. Its a Steem App that I use for some of my opensource projects.

[2017-12-28 06:37] airk42 commented on #12
As "Website" - are you referring to ZClassic.org? If such - it links to Eleos wallet. There is also Swing wallet - https://github.com/vaklinov/zclassic-swing-wallet-ui.
Both are widely used and should not be a problem to setup

hth

[2017-12-28 06:40] heyrhett commented on #10
merged!

[2017-12-28 06:40] #10 closed

[2017-12-28 12:52] heyrhett commented on #3
@airk42

Yes, I think we should keep the block size limit under 2 MB as it is set now.  We could have issues making a single block over 1 GB.

We need to create the blocks as well.

[2017-12-28 17:03] airk42 commented on #3
OK then, I am on it. There is not need in label "help wanted"
I will target to have all it coded before the end of the year.

[2017-12-28 17:05] airk42 commented on #3
Also, I think we need to create branch for the code inserting coinbases.

[2017-12-28 17:06] heyrhett commented on #3
Is there a place I can chat with you?  Telegram, Twitter?

[2017-12-28 17:13] Mrwh0 commented on #3
im on that too please open discord channel or irc somewhere

[2017-12-28 17:17] heyrhett commented on #3
We're going to need to see daily progress on this, and it's also something that should require multiple people to review, so we should discuss updates on this daily somewhere.

[2017-12-28 17:23] airk42 commented on #3
https://t.me/airk42

We can create private Telegram chat or use Discord - discordapp.com

[2017-12-28 17:30] Mrwh0 commented on #3
i don't care about the bounty i just wanted this done so let me know where
i go.

On Dec 28, 2017 12:53 PM, "airk42" <notifications@github.com> wrote:

[2017-12-28 17:35] airk42 commented on #3
https://discord.gg/y65DfQ

[2017-12-28 18:01] WaFeSc commented on #12
I'm working on a new installer. First version creates all folders and makes sure java gets installed (correct version). Next versions will preload part of blockchain.

[2017-12-28 19:36] lugeb commented on #12
Do we need design for a new wallet? I've worked on zcash forked wallets (swing wallets for zen, hush).

[2017-12-29 00:51] ulloa commented on #4
I am actively working on this. Just debugging and making sure it is extendable now.

[2017-12-29 05:31] sammy007 opened #15 "Add to README at what block height you are taking snapshot of each chain"
It's impossible to follow all the forks really. Need this info in README. Forums are polluted.

[2017-12-29 18:50] ulloa commented on #4
JC will do the task by using a full node.

Blockchair may not be the most reliable solution. Limits on their API are very limiting. This was my last progress on the task using Blockchair: https://github.com/ulloa/blockchairScrape/blob/master/getData.sh

[2017-12-29 19:43] BitCoinJedi opened #16 "compile error on ubuntu VPS - lib boost not linking"
getting error when compiling on my google cloud VPS sees install as unknown linux and doesn't build zcashd fails to link installed lib boost.

Second what is RUST and PROTON?

Thanks

[2017-12-29 21:44] daira commented on #8
Note that Zcash will be doing this as part of our Network Upgrade 0. We're writing a spec now. It is similar in spirit but different in detail to SIGHASH_FORKID. You may not be able to wait for that depending on your schedule, but future Zcash improvements are likely to be *much* easier to integrate if you do.

[2017-12-29 22:20] samuelngs commented on #16
This is a work-around solution. So open the `btcputil/build.sh` file, remove the `-Werror` flag and build the btcpd again.

[2017-12-30 04:55] BitCoinJedi commented on #16
Guys I think I’m losing my
Mind! I can find -Werror coulsnhave siemtjing to donwith the fact I deleted the Vps and started o we with a lower version of Ubuntu I went from 17 to 14.04

Sent from my iPhone

[2017-12-30 06:01] heyrhett commented on #8
@leto and others, we can offer a 1.2 BTC bounty for this if it is implemented properly.

[2017-12-30 06:11] BitCoinJedi commented on #16
I think someone updated the build.sh file cause I not see -Werror. What am I doing wrong. I really want things going I want to be one of the new BTCprivate mining pools

[2017-12-30 07:32] samuelngs commented on #16
https://github.com/BTCPrivate/BitcoinPrivate/blob/master/btcputil/build.sh#L120

[2017-12-30 08:42] leto commented on #8
@heyrhett sounds like a good deal to me, I will be using the `SIGHASH_FORKID` method designed by jl777 and with his guidance

[2017-12-30 17:18] BitCoinJedi commented on #16
Thanks I fixed libboost depend issue now system is telling me libsnark isn't installed. IM currently trying to fix that. However the install for libsnark isn't very clear. Is there a deb or tar thats compiled I can use?

[2017-12-30 19:56] kennethffx2 commented on #3
How's this looking boys? This issue being solved is my deciding factor in buying $30,000 worth of Zclassic.

[2017-12-30 19:59] kennethffx2 commented on #8
Hopefully Zcash dev uses the same method so it isn't a pain in the future to update ZClassic.

[2017-12-30 20:04] leto commented on #8
@daira I would love to learn more about the changes you mention, if you can provide any links where I can RTFM, that would be greatly appreciated.

[2017-12-30 20:06] leto commented on #8
@heyrhett I will be working in this branch in my fork:

https://github.com/leto/BitcoinPrivate/tree/2way_replay_protection

I will post occasional updates here to notify y'all of progress. I will probably be constantly rebasing from master or whatever the current tip of dev is, so there may be some back and forth questions required to clarify things that are changing in the moment.

[2017-12-30 21:27] GildedHonour commented on #3
I'll be interested to take it. Bounty?

[2017-12-31 02:27] jc23424 commented on #4
please see https://github.com/jc23424/utxo_dump

[2017-12-31 02:32] BitCoinJedi commented on #16
Well I deleted all my VPS configs and started a fresh install and got everything to compile without errors but now the btcpd seems to be running but not making any connections

[2017-12-31 07:31] airk42 commented on #3
It is work in progress, but it is close

[2017-12-31 10:51] daira commented on #8
@leto The draft spec is still on @str4d's machine and in our heads at the moment, but we'll try to get it up on https://github.com/zcash/zips ASAP.

[2017-12-31 13:58] GildedHonour commented on #3
Are there other issues-bounties I can take?

[2018-01-02 04:25] Mrwh0 commented on #16
in config file addnode=betthis.ddns.net:8033

[2018-01-02 04:29] Mrwh0 commented on #16
nano /home/yourasomeuserhere/.btcprivate/btcprivate.conf
addnode=betthis.ddns.net:8033
addnode=na1.zclassic.org
addnode=dnsseed.zclassic.org:8033
addnode=dnsseed.rotorproject.org:8033
addnode=betthis.ddns.net:8033
addnode=104.207.149.241:8033
addnode=45.76.4.70:8033
addnode=68.234.31.67:8033
addnode=52.14.116.113:8033
addnode=136.243.50.159:8033
addnode=88.99.199.93:8033
addnode=13.91.45.250:8033

[2018-01-02 10:49] akx20000a opened #21 "Any bounties for the 3rd party clients & libraries & services?"
I can work for
+ Core-based fork client
+ compatible with BTC Core
+ Gitian build environment (Already worked for the BTCGPU)
+ Java libraries for the mobile wallet
+ Explorer service
+ Mining Pool service
+ Mining client tuning
+ Some seed nodes
+ Dns-seeds
+ Korean translation & advertisement & contract

You can contract me with akx20000@protonmail.com or slack anytime

[2018-01-02 11:23] akx20000a commented on #3
@heyrhett  Isn't 1-Gig Block would be better than mining 65K blocks?

[2018-01-02 11:25] akx20000a opened #22 "Change the diff algorithm"
Changing the diff algorithm will be more preferable for the fork I think.
Also it will be the good chance if we make the block time much faster.

[2018-01-02 20:16] leto commented on #22
There has been a lot of research on this, I highly suggest looking at all the data the Hush community has compiled and talking to our resident difficulty algo expert: https://github.com/MyHush/hush/issues/24 @zawy12

[2018-01-02 20:19] leto commented on #22
TLDR: EMA http://zawy1.blogspot.com/2017/11/best-difficulty-algorithms.html

[2018-01-02 21:11] zawy12 commented on #22
Thanks duke for the reference.  Here's where I'm keeping the newest info:
https://github.com/zawy12/difficulty-algorithms/issues/1

[2018-01-03 12:02] akx20000a commented on #8
@daira Does it mean that the un-forked zcash chain will have a value?

[2018-01-03 12:13] Schamnad commented on #7
I can pick up the task of developing the custom app for Ledger, is there a bounty for this?

[2018-01-03 14:54] akx20000a commented on #8
And if we fork via snapshot, we don't need a replay attack protection against Bitcoin.

[2018-01-03 16:52] glynmoor opened #23 "Proposal to solve Bitcoin's governance problem: Voting Masternodes"
So a dedicated, multi-sig blockrewarded treasury didn't have sufficient support to pass. I personally voted no on that. However, I'll acknowledge there is a governance problem that should be addressed, and I propose we do so by combining tech from two coins.

I think we should borrow ZenCash's secure nodes and SmartCash's voting system.

I'll start with SmartCash's voting system here: https://vote

[2018-01-03 16:55] dolb commented on #12
Can you even make a nice - looking interface on swing? I taught this dinosaur tech is used either at college apps just to get some good grade or in 10 - 20 year old apps you see in the industry :) If we want cross platform isn't it better to build an electron app? :) I believe it packs up the whole webkit engine with full CSS3 support :)

[2018-01-03 17:20] MCFX2 commented on #12
I think electron is a very over-used solution to the UI design problem. It is effectively a new chrome instance, which eats up a lot of memory resources. I don't think java swing is a good solution either, but for a professional wallet something ugly is better than something that won't play nice with old systems.

If the goal is a resource-friendly but still nice UI, something like [CEGUI](http://

[2018-01-03 19:36] gktown commented on #23
It looks like there is a huge amount of money accumulating, (Community Budget = Σ 636,164,791.47 US$ 286,071,219.60) and the majority of proposals are getting denied. Why would miners want to continue to support this fund if it isn't being used? Additionally the majority of these proposals go to help others, but dont neccessarily promote the coin itself.

It sounds good on paper but I think we nee

[2018-01-03 22:36] leto commented on #8
@heyrhett I would like to be paid for this implementation, since it is feature complete and has code review from jl777 who designed this super-efficient method of preventing replay attacks across forks.

@akx20000a the above algorithm is the most-efficient two way replay protection (2WRP) that can basically exist. It does not require custom opcodes like the ZEN chain, which make it incompatible wi

[2018-01-04 01:55] heyrhett commented on #8
Thank you for the great work!  The bounty has been paid in full and Bitcoin Private is thrilled about the contribution!

[2018-01-04 01:59] heyrhett opened #24 "Electrum Wallet Clone for Zclassic / Bitcoin Private"
Zclassic and Bitcoin Private need electrum wallet clones to make sure people have an easy way to access and transact their coins through the fork.

EDIT (BlueSilver): email bitcoinprivateofficial@gmail.com if you would like to join the development team. We have one person working on this but we need more to get it out faster.

[2018-01-04 02:06] heyrhett commented on #21
Yes!  We need electrum wallet clones!
https://github.com/BTCPrivate/BitcoinPrivate/issues/24

[2018-01-04 02:24] kennethffx2 commented on #8
LETO!!! GODLIKE

[2018-01-04 02:48] akx20000a commented on #24
Well I've heard that there is no electrum wallet clones for the equihash coins or ZCash-based coins.
However, I am working on the electrum fork for the BTG. I can receive this one

[2018-01-04 02:49] akx20000a commented on #21
@heyrhett Got it

[2018-01-04 02:56] BlueSilver22 commented on #24
Hush is a fork of ZCash and has Electrum wallet close to release, so clearly it is possible: https://github.com/matthewjamesr/hush-ng

[2018-01-04 04:45] heyrhett commented on #24
@akx20000a any time estimate?  Should we assign you?

[2018-01-04 05:36] khajity commented on #7
50 BTCP

[2018-01-04 05:51] jb55 commented on #8
Whoa actually paying bounties and not cheaping out. Props.

[2018-01-04 08:34] akx20000a commented on #24
@heyrhett About 1~2 weeks will be taken and yes assign as a contributor will be good :D

[2018-01-04 08:36] heyrhett commented on #24
Hi, @akx20000a we do have someone working on this as well, but it's unclear what their time frame is.  Is there a way to rush the zclassic version as fast as possible, and what bounty would you like for that?

[2018-01-04 16:47] MFGNetworks opened #25 "Compile error on Linux Mint 18 Sarah"
zclassic, zcash compile fine but not BitcoinPrivate
I did remove the --Werror flag from btcputil/build.sh to try to fix this
Help needed
I have added the following lines

THX

In file included from script/interpreter.cpp:6:0:
script/interpreter.h:92:43: warning: left shift count >= width of type [-Wshift-count-overflow]
     SCRIPT_ENABLE_SIGHASH_FORKID = (1U << 42),

[2018-01-04 19:19] glynmoor commented on #23
That's because the way SmartCash allocates funds from block rewards includes BOTH a developer treasury and then a general community budget. In other words, none of those community funds are supposed to go toward the platform's development.

[2018-01-04 20:38] deltamike-x commented on #25
Same issue observed on Ubuntu Server 16.04.3

`mv -f .deps/btcpd-bitcoind.Tpo .deps/btcpd-bitcoind.Po
make[2]: Leaving directory '/home/deltamike/BitcoinPrivate/src'
Makefile:5228: recipe for target 'all-recursive' failed
make[1]: *** [all-recursive] Error 1
make[1]: Leaving directory '/home/deltamike/BitcoinPrivate/src'
Makefile:626: recipe for target 'all-recursive' failed
make: *** [all-recursi

[2018-01-04 22:15] BlueSilver22 commented on #24
@akx20000a I think the best possible solution is to bring you into our discord and have you work with the current developer to get it done as fast as possible. Is that something that you would be interested in?

[2018-01-04 23:26] standy66 commented on #4
@heyrhett Hello, is this issue still relevant? I can do the same work as @jc23424 but using Blockchair API and Python. Redundancy may be good for double checking the utxo set before the fork.

[2018-01-05 00:44] starrymoonlight commented on #3
Can't BitcoinPrivate support Segwit addresses? If not, that will be a negative. Bitcoin Gold worked on Segwit addresses.

[2018-01-05 01:20] robbiewu008 opened #26 "compiling error on Ubuntu 16.04.3"
Making all in src
make[1]: Entering directory '/home/robbie/Work/BitcoinPrivate/src'
make[2]: Entering directory '/home/robbie/Work/BitcoinPrivate/src'
/bin/bash ../libtool  --tag=CXX   --mode=compile /home/robbie/Work/BitcoinPrivate/depends/x86_64-unknown-linux-gnu/share/../native/bin/ccache g++ -m64 -DHAVE_CONFIG_H -I. -I../src/config  -I./obj -I./secp256k1/include -DBUILD_BITCOIN_INTERNAL -I/ho

[2018-01-05 01:28] akx20000a commented on #24
@heyrhett @BlueSilver22 That would be nice.

[2018-01-05 01:29] BlueSilver22 commented on #24
@akx20000a https://discord.gg/Ejvvgd

Only good for one use so make sure to snag it quick

[2018-01-05 01:29] akx20000a commented on #24
@heyrhett And since I need to analyze the code of zcash(especially zk-snarks), it will take some time.
I would like to receive 1.2 BTC for the ZClassic one.

[2018-01-05 01:30] akx20000a commented on #24
@BlueSilver22 Thanks

[2018-01-05 02:30] leto commented on #24
@akx20000a sorry to break the news but I have already added Equihash-based coins to ElectrumX, like Hush: https://github.com/kyuupichan/electrumx/commit/02438e488d32dc3cb479d747248e7ea3dd83840d

@heyrhett you want me to add BTCP to ElectrumX? Make a bounty offer, more than 1.2BTC please.

Also, you need to know if you are asking for the entire backend and fronted, or just backend for this bounty.

[2018-01-05 04:42] SazzadGit commented on #3
how do we get BTCP if i have zclassic in my Bittrex?

[2018-01-05 13:51] BlueSilver22 commented on #24
@leto we have two Devs working on this right now. We would love to have you come join the discord and work with them on both sides. We can discuss the reward amount in the discord. Link is only good for one use so get on it quick: https://discord.gg/5CrFWv

[2018-01-05 14:44] BlueSilver22 commented on #24
@leto someone seems to have claimed the last one, here is another in case it was not you: https://discord.gg/S7Trer

[2018-01-05 15:43] ch4ot1c commented on #24
@leto I believe we've already got that commit completed:
https://github.com/kyuupichan/electrumx/commit/4dd226f9c090d968b80360d607368f5213ccaa56

Hands-on-deck and experienced minds are always welcome! Please reach out :)

[2018-01-06 01:29] airk42 commented on #8
The changes in the PR#18 broke the build:
1)
./script/interpreter.h:92:43: error: left shift count >= width of type [-Werror=shift-count-overflow]
     SCRIPT_ENABLE_SIGHASH_FORKID = (1U << 42),

./script/interpreter.h:92:40: error: right operand of shift expression ‘(1u << 42)’ is >= than the precision of the left operand [-fpermissive]
     SCRIPT_ENABLE_SIGHASH_FORKID = (1U << 42),

./script/in

[2018-01-06 01:30] airk42 commented on #8
Issues 2 has been resolved by PR#28

[2018-01-06 03:23] leto commented on #8
@airk42 this should fix the `42 is too big` issue: https://github.com/BTCPrivate/BitcoinPrivate/pull/29

[2018-01-06 06:33] leto commented on #24
@ch4ot1c looks like y'all have this, I am going to step back from this bounty. Don't have too much fun without me!

[2018-01-06 11:05] dolb commented on #26
Ill test it out and try to reproduce if possible.

[2018-01-06 22:38] zawy12 commented on #22
We've developed a new algorithm that's the best of the best and allows integer math on the target.

https://github.com/zawy12/difficulty-algorithms/issues/17

[2018-01-06 23:09] airk42 commented on #8
@leto Thank you for fixing. Build is working

[2018-01-06 23:09] #8 closed

[2018-01-06 23:13] airk42 commented on #25
From the second comment - I don't see how it is the same as first
Log in the first comment was result in the some merge errors and was fixed with PR #29

@deltamike-x try with that new code if still failing, open new issue with full log

[2018-01-06 23:13] #25 closed

[2018-01-06 23:14] airk42 commented on #26
Fixed by PR #29

[2018-01-06 23:14] #26 closed

[2018-01-08 02:58] gktown commented on #3
Puttin' a +1 ZCL on the bounty.

[2018-01-08 03:01] GildedHonour commented on #3
Are there other issues-bounties I can take?

[2018-01-08 03:08] airk42 commented on #3
The issue is ready to be closed - all code is merged into cb-input branch

Description -->

This is forking version of the BTCPrivate node
Its major and the only goal is to insert and verify BTC utxo into ZClassic blockchain as blocks with multiple (10000 by default) Coinbases translocation.

**There are 4 additional configuration parameters to control the behavior of that node:**

1. utxo-path=<p

[2018-01-08 03:10] gktown commented on #3
Fantastic info! I stand by what I said :+1:

[2018-01-08 04:54] andreibolkonsky commented on #3
Fantastic man

[2018-01-08 04:59] kryptocoin99 commented on #24
Are you guys familiar with this critical Electrum vulnerability.
"A vulnerability was found in the Electrum wallet software which potentially allows random websites to steal your wallet via JavaScript. The bug presumably also affects altcoin derivatives of Electrum such as Electron Cash."

Details here: bitcointalk.org/index.php?topic=2702103.0

[2018-01-08 05:52] GildedHonour commented on #3
@heyrhett Are there other issues-bounties I can take?

[2018-01-08 11:18] akx20000a commented on #24
@leto  I think we will need a client like https://github.com/fyookball/electrum. If you have one for hush let me know please.

[2018-01-08 22:15] heyrhett commented on #23
Closing this issue for now.  It is not on our roadmap for the first Hard Fork release.

[2018-01-08 22:15] #23 closed

[2018-01-08 22:16] heyrhett commented on #22
Solved by latest branch https://github.com/BTCPrivate/BitcoinPrivate/tree/cb-inputs

[2018-01-08 22:16] #22 closed

[2018-01-08 22:17] heyrhett commented on #7
Ledger support almost done here:
https://github.com/KirkBallou/ledger-wallet-chrome/commit/877fad9342aded5b79d94e28f4a4b21fbb188d1d

[2018-01-08 23:24] interbiznw commented on #7
That's not all there is to the ledger. I am in dev discord (J62) JBrutWhat said we'll discuss it at the meeting.

[2018-01-09 23:44] Stonee101 commented on #3
This is great news! I'm impressed.

How will the utxo-123 files be deployed through the network? I assume every node must have this for mining / verifying

[2018-01-10 20:27] vivrelib opened #33 "copy and paste receiving addresses in the OSX Eleos wallet."
it is not possible to copy a receiving address in the OSX wallet.
version 0.1.0
OSX 10.12.6

[2018-01-10 23:48] Skyryn opened #34 "P2P and RPC ports"
I see that BTCPrivate and ZCL are using the same P2P port and RPC port is this going to stay that way?..
if so we could not run ZCL and BTCP  nodes on the same server

I also see it is syncing with the ZCL chain
same blocks as ZCL
is there going to be a new chain?
We are syncing the chain now using the BTCP node and may be waiting our time
in prep for mining pool and block explorer

[2018-01-11 05:12] dolb commented on #33
Hello - I believe you are referring to electron based GUI wallet  - eleos- try to create an issue there:

https://github.com/johandjoz/Material-Eleos

[2018-01-11 12:27] Alexintosh commented on #34
It's my understanding that Zclassic chain will be converted to BTCPrivate once it's out. Am I right?

[2018-01-11 15:50] Skillcommand opened #35 "poor german translation quality of btcprivate.org"
#### Hello BTCP contributors,
I don't know where I should ask for this problem because there's no public visible contribution system concerning your website translations. I've tweeted (@)bitcoinprivate already and created a reddit post about that problem [(Website) poor german translation](https://redd.it/7pj4s7)

I'm happy about the fact that your website is getting more languages over time but e

[2018-01-11 20:21] FranzouilleWazaah commented on #35
Hello Skillcommand,

I think you can directly edit this google doc : https://docs.google.com/document/d/1vUYyGxNQZS7njBbo3BsGKyW7DjWspayihJs9ytfgkk4/edit

You can also discuss about it with other german contributors on the discord for translations : https://discord.gg/kq3JcB

Kind regards,
FranzouilleWazaah

[2018-01-12 07:53] michaelotis commented on #24
I've been working on a little GUI revamp

![image](https://user-images.githubusercontent.com/34221002/34864565-7a861772-f73a-11e7-9efc-3e76b9a3895d.png)
![image](https://user-images.githubusercontent.com/34221002/34864742-5e245b7e-f73b-11e7-834d-b5a8a9db4c82.png)

[2018-01-12 07:59] mattpass commented on #24
Re @kryptocoin99 comment here https://github.com/BTCPrivate/BitcoinPrivate/issues/24#issuecomment-355884571 I'd say I'm concerned about this bug also and sounds like 3.0.5 or above is needed, see here https://github.com/spesmilo/electrum-docs/blob/master/cve.rst

Is the latest version being used here and the bug not present?

[2018-01-12 10:52] thecryptoguy commented on #24
@michaelotis I was thinking to develop UX with electron too as all the other clients are not easier to maintain. Let me know if you need any help.

[2018-01-12 20:14] #35 closed

[2018-01-13 14:39] wjcloud opened #37 "Using BTP as a ticker symbol"
Hello Bitcoin Private community!
I am wjcloud, a "former" director of Bitcoin Platinum project.

Since Bitcoin Private uses a ticker symbol BTCP, I would like to suggest using a new ticker symbol, BTP.
BTP was used as a ticker of Bitcoin Platinum, however, since the project has been gone I would like to give this opportunity to the better project.

So I have chosen Bitcoin Private for the successo

[2018-01-13 15:13] wjcloud commented on #37
As a proof I've just turned the forwarding address to btcprivate.org check here http://bitcoinplatinum.tech/

[2018-01-13 15:24] wjcloud commented on #37
There are some domains for the option.

+ btcplt.org
+ btpwallet.org
+ btpexp.org

All of the domains are exclusively owned by me, which anyone can't steal those.

[2018-01-13 16:33] justinjja opened #38 "21 Million total supply"
I have seen it suggested that the total supply is going to be 21 Million.

Are the halvings being accelerated or is the block reward being reduced?
Or is the total supply actually going to be ~37.8 Million?

https://pbs.twimg.com/media/DTRRZhdWkAI0vNX.jpg

[2018-01-14 07:53] gktown commented on #38
Total supply = 21M - Why would it be 37.8M?

[2018-01-14 15:29] justinjja commented on #38
My understanding is the block reward is halved every x blocks, and after 64 halvings the block reward is set to 0.
Nothing specifically limits the total supply to 21M that is just how it works out.

So when 16.8M bitcoins are inserted over only a small number of blocks, the block reward will remain unchanged, and the total supply will reach 21M mined coins + 16.8M inserted BTC coins = 37.8M total

[2018-01-14 16:31] akx20000a opened #39 "Bitcoin-qt integration"
I think using qt-wallet gui interface will be better than using the java wallet.

[2018-01-14 22:42] jc23424 commented on #34
Thanks - yes - I just submitted a change to begin doing that. Please see
https://github.com/BTCPrivate/BitcoinPrivate/pull/40

[2018-01-15 06:48] miningmining opened #41 "Looking for a BTCP DEV"
Hi,

I have some issues setting up a BTCP mining pool using z-nomp.

Could one of you guys help me setting up this project? Paid ofcourse...

Please contact me at skype: patrickdegroot007

[2018-01-15 07:47] hsol commented on #37
# DO NOT BUY "BTP" TICKER FROM HIM.

Do not buy "BTP" ticker from him(wjcloud).

He is a wicked terrible cheater to make scam crypto coin.
He advertised to people "We'll hard-fork BTC to BTC Platinum".
But nothing happened on the day he said. So much of people lost their money because of his cheat.

Many have suffered property damage and He have been blocked by various internet communities because

[2018-01-15 12:19] wjcloud commented on #37
@hsol Well I am not very related person with a korean or our former korean developer team, If you have any questions on me you can contract though.

[2018-01-15 12:20] wjcloud commented on #37
"So much of people lost their money because of his cheat." LOL

[2018-01-15 12:23] wjcloud commented on #37
Well I am closing this issue cause I think it is a reckless thing

[2018-01-15 12:23] #37 closed

[2018-01-15 23:55] hsol commented on #37
What a poor ghost

[2018-01-16 08:19] dolb commented on #38
Youll have 21M coins (BTC snapshot base - SEGWIT - something else that is problematic) + snapshot ZCL  balances which is currently roughly over 3M - that gives an amount below 21M - then the block reward will be adjusted.

[2018-01-16 08:21] dolb commented on #3
You will be able to generate them from your bitcoind directly I believe.

[2018-01-16 12:10] nimbosa commented on #15
SOON!😺 i think this will come **AFTER** the proper announcement on Twitter and BitcoinTalk?

[2018-01-16 12:26] nimbosa opened #42 "Bitcoin Private Logo Proposal"
### Logo Weight, Color, Balance and Bitcoin Angle Proposal
i noticed that the logo we have now on the website is a little bit off-center, and the color seems too dark or too dry? BLUE signifies security, stability and reliability, it evokes the feeling of trust. so i propose this, recentred and recoloured:

![Bitcoin Private Trio](https://i.imgur.com/otptI2R.png "Bitcoin Private Trio")

if you not

[2018-01-16 12:32] AaronNHorvitz commented on #42
Agreed!

[2018-01-16 12:44] AaronNHorvitz commented on #42
Agree!  The lighter version is stronger too.  It stands out more. Is it possible to have it stand straight and not tilted, to symbolize balance and stability?

[2018-01-16 12:51] nimbosa commented on #42
Thanks for the suggestion to have it upright @AaronNHorvitz . That was sensible! But i was thinking of upward mobility when i tilted it up, in contrast to the impression of a downward movement in the original Bitcoin Logo. I want to know how others think of it. Keep those comments coming!😄

[2018-01-16 12:58] rohan23 commented on #42
Agreed. I think this is a good suggestion, much more vibrant and centered.

On Tue, Jan 16, 2018 at 4:51 AM seth Nimbosa <notifications@github.com>
wrote:

[2018-01-16 13:26] AaronNHorvitz commented on #42
Thanks!  I dont think a skewed logo suggests stability and privacy.  Also, it leaves more opportunity for the logo to be used at the wrong angle.  For example, if you want to replicate it for promotional items or on literature, no one will replicate it at the same angle.  I honestly can’t take credit for this suggestion— My wife is a director of marketing, and it was her suggestion.

[2018-01-16 20:38] ch4ot1c opened #44 "PeerMagic Values (pchMessageStart)"
The current values for zclassic's "peermagic" (pchMessageStart) are:
mainnet - 24 e9 27 64, testnet - fa 1a f9 bf

This needs to be determined before the fork.

See also: https://github.com/z-classic/z-nomp/pull/270

[2018-01-16 21:16] tinymachine1111 commented on #42
This is a great improvement. Either blue works but I think the darker "feels" a little more stable.  I'm also in the camp of preferring a straight up and down version the most.  I had that thought while looking at it and see Aaron has suggested it already.  Like Bitcoin's more professional cousin, works in a swiss private bank...wears a watch and a navy suit...keeps your secrets ;)

Thanks for doi

[2018-01-17 01:25] Convalytics commented on #42
I think it looks better tilted forward. (to the right) Like it's driving onward. IMHO

[2018-01-17 07:37] nimbosa opened #45 "Point of contact still refers to Zcash developers?"
### Point of contact still refers to Zcash developers?
We need to put our own people here.

Places like '[**contributors and maintainers**](/BTCPrivate/BitcoinPrivate/blob/master/code_of_conduct.md) of this project' still refer to:
- Daira Hopwood (daira at z.cash)
- Sean Bowe (sean at z.cash)

[2018-01-17 21:28] thePhil commented on #42
The non-upright version feels a bit nervous or too agile

[2018-01-17 23:33] alfredolopez80 commented on #24
kn@heyrhett i can help you in some issue, i'm not sure for all solution, but i nrw but i'm a programmer and i want to help for hours and Bounty so if you need some guy for Banked o Front end, only send me i email alfredolopez80@gmail.com

[2018-01-18 10:16] #41 closed

[2018-01-18 10:17] kaiansaari commented on #42
I like the first amendment, lighter and slimmer.

[2018-01-18 10:19] kaiansaari commented on #45
Sure, I think we're just focused on more pressing priorities right now.

[2018-01-18 11:36] BlueSilver22 commented on #42
@nimbosa is it possible to the new color and have the "BP" tilted to the right instead of the left?

[2018-01-18 13:24] miningmining commented on #45
agreed

[2018-01-18 16:44] justinjja commented on #38
Has the block reward adjustment already been coded?

[2018-01-18 21:56] elcalavera21 commented on #42
Also would love to see a perfectly straight version with the more vibrant
blue!

On Thu, Jan 18, 2018 at 6:36 AM, BlueSilver22 <notifications@github.com>
wrote:

[2018-01-19 02:13] nimbosa commented on #45
this was inherited from [ZCLASSIC (issue #140)](https://github.com/z-classic/zclassic/issues/140) which also lacks a point of contact

[2018-01-19 18:04] MopTcodE commented on #38
May be good to double check on this now than later.

[2018-01-19 18:06] MopTcodE commented on #24
I assume this has been taken care of correct? In case need more hands, let me know.

[2018-01-19 18:07] MopTcodE commented on #21
Still need Japanese translation in certain area?

[2018-01-20 07:15] dolb commented on #38
In Bitcoin it is coded for 210k blocks - here it is probably not done yet, as I haven't seen it on the 'DONE' checklist yet ;)

[2018-01-21 01:51] mrrexsocks commented on #42
Messing around with crude app on Android. Thought to use elements from a safe combination dial.  Just throwing it up for fun! http://imgur.com/qkkU0Cq

[2018-01-21 04:20] ChocolateDon commented on #42
I feel very passionately about keeping the original color scheme, or at the very least some shade of dark blue. Like @nimbosa mentioned, the darker shade conveys a sense of privacy and security. I know this is an abstract thought process but I believe it to be a more accurate representation of the product. When considering things like design, I feel it is important to remove personal bias and cons

[2018-01-26 01:49] Cryptomike81 opened #50 "LOGO/Symbol Issue?"
I saw in the Bitcoin Private Conference tweet that someone raised the issue that the BTCP LOGO/Symbol is being used/owned by Bitcoin Pay. Not sure if there is any concern on BTCP's end and I know there are more pressing issues, however I went ahead and put some stuff together for possible replacements.

In most cases simplicity is better, but I added a little extra to show an array. The Z-Classic

[2018-01-26 10:09] doerslabs commented on #50
This one truly rocks! yeah

Il 26 gen 2018 02:50, "Cryptomike81" <notifications@github.com> ha scritto:

[2018-01-26 13:38] CoinGekko commented on #50
Love the dark blue with orange contrast! Really pops

On Jan 26, 2018 5:09 AM, "doers" <notifications@github.com> wrote:

[2018-01-27 03:01] mesnia commented on #50
why don't we add some sort of a shield or a lock or something that represent "Private".. just a thought

[2018-01-28 17:00] oliverw opened #55 "BTCP for pool operators/developers"
Could the team provide some guidance for pool operators / developers what (if any) changes are required for existing pool/miner code already supporting ZCash/ZClassic to support the new currency?

[2018-01-29 20:48] YassineEraman commented on #50
![cfbb68f1-7fe4-4e59-8cf7-4c08b34a3273](https://user-images.githubusercontent.com/20867788/35533480-9c28e91e-0535-11e8-8396-fdd00a892ef2.jpeg)
Here’s my LOGO for BTCP

If there any issues just tell me

[2018-01-29 21:23] mesnia commented on #50
this is awesome...

[2018-01-29 21:27] ddelapaz commented on #50
Just my 2cents, I personally like the dark blue with the orange contrast. It looks very professional and clean.

[2018-01-29 21:29] Concept211 commented on #50
Awesome? Really? Makes the whole project look like a shitcoin. Just leave the logo alone. They're already marketing it so the branding awareness is there. You don't mess with that especially so close to the fork.

[2018-01-29 21:47] YassineEraman commented on #50
this is only a try, not the final work so just take it easy :D

[2018-01-30 00:24] Cryptomike81 commented on #50
@Concept211 the only reason I put a new logo concept together was due to the issue that the logo they (BTCP) are using is actually someone else's logo (https://twitter.com/BitcoinPayApp) for a different business that the original owner raised issue about. I do not know if they new this originally and used it anyways or if they hired someone to create a logo and the designer decided to use that wit

[2018-01-30 00:51] YassineEraman commented on #50
There's no problem in changing the logo، BTG have changed their logo just before somedays the last week

[2018-01-30 09:42] Concept211 commented on #50
Thanks for explaining that @Cryptomike81 -- I wasn't aware of that. I agree then, that's not good if it was copied so blatantly from another project.

In all honesty, I never cared for the original BTCP logo at all when I first saw it. As a designer as well, I thought there was more that could be done with it. But since they kept going with the design in all of their marketing, I thought it was be

[2018-01-30 11:06] YassineEraman commented on #50
@concept211 ok no problem, but we just have to renew the logo as soon as possible

[2018-01-31 14:10] Ayms commented on #24
FYI people can use this tool to transact their coins: https://github.com/Ayms/bitcoin-transactions

I just added Bitcoin Private https://github.com/Ayms/bitcoin-transactions/issues/15

[2018-02-01 14:46] busyjordy commented on #7
Can someone confirm what is the case with Segwit Addresses please. I am seeing a number of posts regarding possible complications with the fork and Segwit addresses.

[2018-02-04 20:17] jc23424 commented on #16
fixed in https://github.com/BTCPrivate/BitcoinPrivate/pull/54

[2018-02-05 04:08] #3 closed

[2018-02-06 04:11] Har01d commented on #4
Hello, Blockchair lead dev here.

If you need help with getting the UTXO set at a specific block height, please contact us at <info@blockchair.com>, I guess we’ll be able to help.

[2018-02-06 23:15] michaelotis commented on #55
Literally the exact same setup as ZCash/ZClassic if you're running z-nomp. Add/replace BTCP in your pool_configs and coins and point to the BTCP daemon.

[2018-02-08 03:09] ch4ot1c commented on #4
@Har01d, @standy66, thank you for the offer! <3

We are all set though:
https://github.com/jc23424/utxo_dump

Please review this; we consider it nearly final

[2018-02-08 03:09] #4 closed

[2018-02-08 03:20] ch4ot1c commented on #15
Snapshot is on February 28! Block TBD. Stay tuned.

[2018-02-08 03:25] #21 closed

[2018-02-08 03:43] #12 closed

[2018-02-08 03:44] ch4ot1c commented on #34
P2P: 7933, RPC: 7932

[2018-02-08 03:44] #34 closed

[2018-02-08 13:18] jojototh commented on #50
We're staying with our logo, BitcoinPay app stole our logo which was designed by Manuel A and updated by me

[2018-02-08 13:21] jojototh commented on #42
Thanks for suggestions, we are staying with our current logo. We need to stay consistent and became recognisable. We can update/expand our brand, but not before the fork.

[2018-02-08 15:11] GrannyCryptomaster opened #63 "BTCP already taken"
The BTCP name is already taken by the BitcoinPro. It's listed on stocks.exchange.

[2018-02-08 16:12] #50 closed

[2018-02-08 16:16] ch4ot1c commented on #50
I can confirm that this logo was designed from the BTC logo in Jan of this year. BitPay must have copied it.

[2018-02-08 16:16] #42 closed

[2018-02-09 02:45] ch4ot1c commented on #63
Ack

[2018-02-09 02:45] #63 closed

[2018-02-09 02:51] #33 closed

[2018-02-09 02:52] ch4ot1c commented on #39
We are beginning to actively working on the Swing wallet as our full-node solution. Please contribute!

[2018-02-09 02:52] #39 closed

[2018-02-09 02:52] ch4ot1c commented on #39
(We like the Group Messaging alot!)

[2018-02-09 02:55] #16 closed

[2018-02-09 03:06] ch4ot1c commented on #24
Progress is underway 🐎  ! T->T are sendable and visible, and Z->T txns are visible.
Please get the latest release: https://github.com/BTCP-community/electrum-zcl

[2018-02-10 05:40] floreslorca commented on #45
so who are the points of contact in this project? i can just change it to that

[2018-02-10 15:23] #15 closed

[2018-02-10 17:17] cryptobat commented on #35
Here's my Romanian Translation: https://docs.google.com/document/d/1m-6-eAv38C3sno8-uzYpGxZGJ9xSXe1JsfjkrlJPF58/edit?usp=sharing

[2018-02-12 10:15] chompomonim commented on #38
So, you will not have SEGWIT support? And BTC holders who use SEGWIT addresses will not get coins?

Also what is "something else that is problematic"?

+1 for adding reward adjustment even before fork happens.

[2018-02-12 14:38] oliverw commented on #55
@michaelotis So, no founders/treasury rewards?

[2018-02-12 14:50] ddelapaz commented on #24
Any way we can get Bitcoin Private on Coinomi? I'm not sure what the process is there but sounds like they should be able to add it quickly since they currently support ZEN and ZEC.

[2018-02-12 14:52] BlueSilver22 commented on #24
@ddelapaz we announced Coinomi support a week ago. They should have ZCL this week and will have BTCP directly after the fork: https://twitter.com/bitcoinprivate/status/959566948790161408

[2018-02-12 14:58] michaelotis commented on #55
@oliverw No, no founders/treasury rewards.

[2018-02-12 18:53] oliverw commented on #55
@michaelotis Two more questions if you don't mind.

1. What's the state of the code base. Is there still heavy development going on or is it more or less ready for release?

2. Will there be binary releases of the core software (daemon, cli etc.) or should pool operators prepare to build from source?

[2018-02-13 10:10] Jbarnes12 opened #68 "CRYPTOPIA NOT SUPPORTING ELECTRUM WALLET"
### CRYPTOPIA NOT SUPPORTING ELECTRUM WALLET
When trying to send ZCL from cryptopia to lates electrum wallet, cryptopia says incorrect ZCL address..

[2018-02-14 02:40] floreslorca opened #69 "Cross compiling for windows doesnt work."
[code]

there is a typo somehwere, but im not sure where on the make files.

[2018-02-15 17:22] floreslorca commented on #69
fix here https://github.com/BTCPrivate/BitcoinPrivate/pull/70

[2018-02-16 16:58] amirn44 commented on #24
guys i use electrum wallet and its not connected!! plz help me

[2018-02-16 17:22] amirn44 opened #71 "Zclassic wallet electrum not connected"
hi guys i send zclassic for wallet adress after that i see app is not connected!! why not connect!!

[2018-02-17 06:45] dbucci24 opened #73 "Spanish translation"
I would like to collaborate in the translation into Spanish? It is already done?

[2018-02-18 11:08] Myran1 commented on #71
Had the same Problem.
on Tools -> Network -> Server i deselected the "choose Server automatically" and it solved the problem.. for me at least on win10 x64
![electrum-zcl-z_1 0 3-win_2018-02-18_12-06-14](https://user-images.githubusercontent.com/22836711/36351080-5b76d330-14a4-11e8-80d5-3a7162a0af17.jpg)

[2018-02-20 16:26] manuel734 commented on #24
@amirn44 what issue are you having with the wallet?

[2018-02-20 16:27] ch4ot1c commented on #71
Please visit https://github.com/BTCP-community/electrum-zcl/issues to post Electrum-ZCL issues. Thanks!

[2018-02-20 16:28] #71 closed

[2018-02-20 17:14] agent-0007 opened #74 "Problem with compiling under linux"
When i run ./configure, i get folow:

checking for MSG_NOSIGNAL... yes
checking for visibility attribute... yes
checking for Berkeley DB C++ headers... no
configure: error: libdb_cxx headers missing, Bitcoin Core requires this library for wallet functionality (--disable-wallet to disable wallet functionality)

[2018-02-21 00:15] ch4ot1c commented on #24
The process is underway and we have enough developers to see it through. Please join us on Discord - https://discord.gg/bBt9d3x - if you want to get involved with this project or would like an assignment. Thank you!

[2018-02-21 00:15] #24 closed

[2018-02-21 00:16] ch4ot1c commented on #68
There have been known reliability issues with Cryptopia; please retry if you have had issues.

[2018-02-21 00:16] #68 closed

[2018-02-21 00:17] ch4ot1c commented on #69
https://github.com/z-classic/zclassic/pull/161

[2018-02-21 20:35] #69 closed

[2018-02-23 01:32] jc23424 commented on #7
see here for segwit: https://github.com/BTCPrivate/BitcoinPrivate/pull/77
you'll be able to move your segwit btcp to a non-segwit output upon chain launch

[2018-02-23 05:04] #44 closed

[2018-02-23 09:52] GrannyCryptomaster opened #79 "BitcoinPrivate PRICE and issues"
1 BTCP = X$
After a simple calculation, in order to keep the same profitability in BTCP mining, as is in ZCL mining, suposing the network hashrate will be the same as ZCL's, this price poped out.
ZCL block reward = 12.5 ZCL
BTCP block reward = 0.78125 BTCP
(this is the reward propossed in the first whitepaper; they deleted the paragraf in the new whitepaper)

=> X = X $

The 2th issue with BTCP is

[2018-02-23 11:09] GrannyCryptomaster commented on #79
Missing whitepaper paragraph...
"The snapshot of Bitcoin and Zclassic is set for the first blocks timestamped after 5 PM UTC on February 28, 2018, with the fork/main-net launch occurring approximately 2 days later. After launch, there will be approximately 700,000 mineable Bitcoin Private. Remaining true to Satoshi’s vision of a low inflation coin, a starting block reward of 0.78125 Bitcoin Privat

[2018-02-23 16:12] ch4ot1c commented on #79
@GrannyCryptomaster I'm going to go ahead and remove this price commentary. It is not pertinent to the development discussion. Regardless of the math / approach you've used, it is price speculation.

We will be using BTCP as our brand.

Miners will mine whichever chain they like - indeed they mine for coins until all coins are minted, and then for fees. Please see the whitepaper for further detail

[2018-02-23 21:09] #79 closed

[2018-02-23 21:12] ch4ot1c commented on #73
I will be going through the code and changing text from 'Zcash' and 'Zclassic' to 'Bitcoin Private'. Once this commit is made, you can get started!

Also join our Discord, we have a great localization team you can join:
https://discord.gg/C38b8A

[2018-02-25 11:35] tep555 opened #90 "assic wallet"
This issue tracker is only for technical issues related to zcashd.

General Zcash questions and/or support requests and are best directed to the [Zcash Forums](https://forum.z.cash) or [Community Rocket.Chat](https://chat.zcashcommunity.com).

For reporting security vulnerabilities or for sensitive discussions with our security team, please contact [security@z.cash](mailto:security@z.cash). You ca

[2018-02-25 13:42] VERTlG0 opened #92 "Linux build fails with error error: "none" is not a known value of feature <optimization>"
Tried building first with GCC-7.3.0 and then GCC-6.4.0 which were both unsuccessful. Error occurs in the boost building stage.

projects/boost/files/boost/1.62.0/boost_1_62_0.tar.bz2" ) && echo "36c96b0f6155c98404091d8ceb48319a28279ca0333fba1ad8611eb90afb2ca0  /root/cryptomining/coins/btcp/BitcoinPrivate/depends/work/download/boost-1_62_0/boost_1_62_0.tar.bz2.temp" > /root/cryptomining/coins/btcp/

[2018-02-25 13:50] VERTlG0 commented on #92
turns out it was a local variable issue on my distro... had to edit depends/packages.boost.mk and add "--ignore-site-config" to the b2 command.  I'm closing this issue.

[2018-02-25 13:51] #92 closed

[2018-02-26 08:06] oliverw opened #93 "Daemon Mainnet synching"
Is it possible to let btcpd start synching now? Will it use the ZClassic chain and stop accepting blocks at a certain point waiting for the BTCP mainnet to go online or will it happily sync past the hardfork block height?

[2018-02-27 18:18] greole opened #95 "libsodium 1.0.11 is not found at https://download.libsodium.org/libsodium/releases/"
Same as https://github.com/z-classic/zclassic/issues/164. One should either change the libsodium version to something more recent or use https://download.libsodium.org/libsodium/releases/old  to download libsodium

[2018-02-28 16:10] rajahat commented on #42
I prefer the original dark blue color, it hints and errs on privacy, formality, and seriousness. Conveying a message of " don't mess with me". Furthermore, I emphasize the importance of angle tilt design to magnify it's biased identity focus, as a privacy coin.

[2018-02-28 19:11] Nolaan commented on #93
you can add to your config file
addnode=btcp.masternode.link

[2018-03-01 01:35] rtest90gmailcom opened #98 "Bittrex > ZCL Electrum Wallet (1.0.4) done yesterday, no balance?"
Bittrex > ZCL Electrum Wallet (1.0.4) done yesterday - 10 ZCLs lost ?
Wallet Address = t1QWuGnGtUzZi8izkUiFYjqih5FiYqaMSYu

[2018-03-01 04:31] Light-Shinchoku commented on #42
Dark blue is good.

[2018-03-01 07:56] VERTlG0 opened #100 "Error reading configuration file: Missing btcprivate.conf"
when trying to run btcp-cli.exe It failes with trying to find btcprivate.conf creating an empty one doesnt solve it.. or making one with just "-rpcuser=x -rpcpassword=x" and it still couldnt see the file and gave the same error message.

[2018-03-01 08:30] VERTlG0 commented on #100
Closing issue. I was wrong about the location of btcprivate.conf and now have it in the right spot.

Solution: touch /mnt/c/Users/Vertigo/AppData/Romaing/BTCPrivate
OR
cp contrib/debian/examples/btcprivate.conf /mnt/c/Users/Vertigo/AppData/Roaming/BTCPrivate/

[2018-03-01 08:30] #100 closed

[2018-03-01 08:34] VERTlG0 opened #101 "Error: Cannot find the Bitcoin Private network parameters"
Built with Linux Subsystem for Windows10 64bit.

cf@z170x-WIN10:/mnt/c/btcp/BTCPrivate/home/cf/BitcoinPrivate/depends/x86_64-w64-mingw32/bin$ ./btcpd.exe
Error: Cannot find the Bitcoin Private network parameters in the following directory:
"C:\Users\Vertigo\AppData\Roaming\ZcashParams"
Please run 'zcash-fetch-params' or './btcputil/fetch-params.sh' and then restart.

I already ran zcash-fetch-para

[2018-03-01 14:15] jc23424 commented on #93
in the next two days or so the dnsseeds listed in the repository will update with nodes that you can seed the chain from - these will be available well in advance (24-ish hours) of when mining for block reward will begin to allow miners to sync up

[2018-03-01 17:11] ch4ot1c commented on #98
https://eu1.zcl-explorer.com/address/t1QWuGnGtUzZi8izkUiFYjqih5FiYqaMSYu

It isn't there; I suppose you're still waiting on Bittrex

[2018-03-01 17:11] #98 closed

[2018-03-01 17:14] #90 closed

[2018-03-01 18:57] KaboomFox opened #102 "Cannot compile on Mac"
### Describe the issue
when running `/btcputil/build-mac.sh -j$(sysctl -n hw.physicalcpu)`

I get the error

```locator_tests.o -MD -MP -MF test/.deps/test_test_bitcoin-allocator_tests.Tpo -c -o test/test_test_bitcoin-allocator_tests.o `test -f 'test/allocator_tests.cpp' || echo './'`test/allocator_tests.cpp
wallet/asyncrpcoperation_shieldcoinbase.cpp: In member function 'UniValue AsyncRPCOperatio

[2018-03-02 10:18] sogmko opened #103 "Cant compile last version Linux Centos 7.4"
Hi and thx for the work you do.

Yesterday i have susccefully compile the daemon, but since the last push, i have update my src and now i have an error on the link process :+1:
Maybe i miss something ....
I run Linux Centos 7.4

here the error : whene i run :  ./btcputil/build.sh -j$(nproc)

libtool: link: /home/sogmko/mining/btcp/BitcoinPrivate/depends/x86_64-unknown-linux-gnu/share/../native/bin

[2018-03-02 16:31] VERTlG0 opened #104 "GENTOO LINUX BUILD: error: "none" is not a known value of feature <optimization>"
z170x ~/BitcoinPrivate # ./btcputil/build.sh -j9
+++ readlink -f ./btcputil/build.sh
++ dirname /root/BitcoinPrivate/btcputil/build.sh
+ cd /root/BitcoinPrivate/btcputil/..
+ LCOV_ARG=
+ HARDENING_ARG=--enable-hardening
+ TEST_ARG=
+ '[' x-j9 = x--enable-lcov ']'
+ '[' x-j9 = x--disable-tests ']'
+ MINING_ARG=
+ '[' x-j9 = x--disable-mining ']'
+ RUST_ARG=
+ '[' x-j9 = x--disable-rust ']'
+ PROTON

[2018-03-02 18:36] OleksandrBlack commented on #93
@jc23424 @BlueSilver22 After update https://github.com/BTCPrivate/BitcoinPrivate/commit/891622875bed861ab37c758bed3b1902f15d2087
in debug.log an error **PROCESSMESSAGE: INVALID MESSAGESTART**

[2018-03-02 19:24] oliverw commented on #93
Question: Is it supported to bootstrap a node from a ZCL blockchain copy that's not synced past the hardfork blockheight?

[2018-03-02 19:48] ch4ot1c commented on #73
Please work with Manuel on this - closing for now.

[2018-03-02 19:48] #73 closed

[2018-03-02 19:50] ch4ot1c commented on #102
Got the same thing. Caused by https://github.com/BTCPrivate/BitcoinPrivate/commit/28f9592c82427ecab1a7dbfbb1cd5130e4deae1e and https://github.com/BTCPrivate/BitcoinPrivate/commit/21137994c3bbda40b5343752e1bf10976c6c0125

[2018-03-02 22:45] buzztiaan opened #106 "build.sh pulls in lipgmp 404"
### Describe the issue

build.sh pulls nonexisting files;

[code]

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1. clone git
2. run build.sh
3. tada

### Expected behaviour
Shouldn't grab files from a different coins website that dont exist.

### Actual behaviour + errors
It went on to grab it elsewhere

[2018-03-03 00:09] buzztiaan opened #108 "./btcputil/fetch-params.sh doesnt fetch jack sh**"
Eh, i think the title is self explanatory.

[2018-03-03 00:40] buzztiaan commented on #100
or ~/.btcprivate/btcprivate.conf

[2018-03-03 02:26] thomasuno commented on #108
temporary fix

wget http://195.201.43.99/fetch-params.sh
chmod +x fetch-params.sh
./fetch-params.sh

or

http://195.201.43.99/sprout-proving.key
http://195.201.43.99/sprout-verifying.key

[2018-03-03 02:30] thomasuno commented on #106
temporary fix

wget http://195.201.43.99/fetch-params.sh
chmod +x fetch-params.sh
./fetch-params.sh

or

http://195.201.43.99/sprout-proving.key
http://195.201.43.99/sprout-verifying.key

or

http://195.201.43.99/zcash-params.tar

[2018-03-03 02:47] buzztiaan commented on #108
right, i already had them from a ZEC and ZCL node, but tnx :D

[2018-03-03 02:48] buzztiaan commented on #106
your post isnt relevant to this topic :)

[2018-03-03 02:49] thomasuno commented on #106
@buzztiaan  ops sorry! also a missing file but i didn't posted the right one

[2018-03-03 03:17] ch4ot1c commented on #108
Updated: https://github.com/BTCPrivate/BitcoinPrivate/commit/23954cd6816d7ae3d8c2d9e7ff69dc5ffcb64689

This is a trusted resource.

[2018-03-03 03:17] #108 closed

[2018-03-03 04:00] Faris-Mohamed opened #111 "Some Small Issues with the Website"
Hey. The Pools tab on https://btcprivate.org/ seems broken.
If i click it it snaps back to main page (https://btcprivate.org/?lang=de). Seems be an redirect issue with language selector.

This seems to only happen in languages that are not English.

(This was posted by a user on the Discord Dev Channel.

[2018-03-03 05:16] sedarat opened #112 "How can i get the BTCP ?"
I have some ZCL in the tradesatodhi .....
Where can I check that the BTCP has arrived ?
Please help me ....

[2018-03-03 05:31] shwimmy commented on #112
The forking process has started! It will be finished in the next 12-36 hours, after which you can claim your #BTCP. See instructions on how to join the forking process here (Linux Users Only): https://goo.gl/RgQiCm

[2018-03-03 05:40] sedarat commented on #112
Thank you very much my friend

[2018-03-03 05:52] shwimmy commented on #112
You are welcome.  I was just reposting the news I had just read.

[2018-03-03 12:19] oliverw opened #113 "getblocktemplate RPC failing"
I've compiled the daemon from latest commits, fetched the params and placed the extracted utxos into btcpd's data directory.  Syncing worked fine until some point when btcpd began logging this:

The getblocktemplate RPC returns this:

[2018-03-03 12:43] Raphael1994 commented on #112
I have some zcl in cryptopia
How do I get bitcoin private?

[2018-03-03 16:22] dhjw opened #115 "Whitepaper wrong about Bitcoin Cash difficulty adjustment"
The whitepaper lists Bitcoin Cash as having an adjustment time of 2 weeks. It's actually every block. [[1](https://www.bitcoinabc.org/november)] [[2](https://github.com/bitcoincashorg/spec/blob/master/nov-13-hardfork-spec.md)]

[2018-03-03 16:23] salimizadeh opened #116 "buy ZCL"
3 Questions:
If I buy ZCL now, Will I get BTCP?
In this case, Will ZCL be unusable?
Which exchanges support this fork?
Best regards.

[2018-03-03 16:27] irishismyname opened #117 "Fork-instructions.md"
A little confused by the fork instructions. I got through the build/run of the daemon and I let it run for a few seconds before downloading the UTXO snapshot (mistake?).

Then I ran:
`cd ~/.btcprivate/`
`curl https://s3.amazonaws.com/btcp.snapshot/utxo_snapshot.tar.gz | tar xvz`

This is where I'm getting lost, because after this it says to run:
`mkdir ~/.btcprivate`
`touch ~/.btcprivate/btcprivat

[2018-03-03 16:58] Ultanium commented on #116
It was my understanding that no, they will not trade it out, so anything after the snapshot you may want to sell or abandon.

[2018-03-03 17:50] VERTlG0 opened #118 "Wheres the documentation for solo mining ?"
All coins have this documented on their README  but you guys lack this one very important aspect of mining.

[2018-03-03 18:01] sedarat opened #119 "X"
how much does it cost of BTCP?

[2018-03-03 18:01] sedarat opened #120 "wallet of BTCP?"
i bought ZCL at tradesatoshi website and i want to know my BTCP send to my tradesatoshi balance or new wallet of BTCP?

[2018-03-03 18:18] VERTlG0 opened #121 "Connecting to Node to SOLO mine fails"
z170x ~/cryptomining/miners/EQUIHASH-bminer-v5.4.0 # ./start.bminer.btcp.solo.sh
[INFO] [2018-03-03T13:12:58-05:00] Bminer: When Crypto-mining Made Fast (v5.4.0-ae18e12)
[INFO] [2018-03-03T13:12:58-05:00] Watchdog has started.
[INFO] [2018-03-03T13:12:58-05:00] Starting miner on devices [0 1]
[INFO] [2018-03-03T13:12:58-05:00] Connected to 127.0.0.1:7932
, error: invalid character 'H' looking for

[2018-03-03 18:27] VERTlG0 commented on #121
heres more output from another miner program.

z170x ~/cryptomining/miners/EQUIHASH-EWBFminer # ./start.btcp.solomine.bash
+-------------------------------------------------+
|         EWBF's Zcash CUDA miner. 0.3.4b         |
+-------------------------------------------------+
INFO: Current pool: 127.0.0.1:7932
INFO: Selected pools: 1
INFO: Solver: Auto.
INFO: Devices: All.
INFO: Temperature limi

[2018-03-03 18:28] VERTlG0 commented on #121
here I added "http://" to the -server entry.

z170x ~/cryptomining/miners/EQUIHASH-EWBFminer # ./start.btcp.solomine.bash
+-------------------------------------------------+
|         EWBF's Zcash CUDA miner. 0.3.4b         |
+-------------------------------------------------+
INFO: Current pool: http://127.0.0.1:7932
INFO: Selected pools: 1
INFO: Solver: Auto.
INFO: Devices: All.
INFO: Temperatur

[2018-03-03 20:21] FranzouilleWazaah commented on #120
It will be sent to your tradesatoshi balance, please use discord for that kind of message, not Github.

[2018-03-03 20:26] ericdzen opened #122 "p2sh error when sweeping private keys into BTCP electrum wallet."
### Describe the issue
When I try to sweep my private keys over to the BTCP wallet I am getting a p2sh error.

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1. Export private keys from ZCL wallet.
2. Install BTCP electrum wallet
3. Hover the Wallets menu options, go down to private keys, and select the sweep option.
4. Paste all private keys into t

[2018-03-03 20:43] ocarinaz64 commented on #116
The snapshot has already taken place.  ZCL is still useable, and will have whatever value people decide for it.  Rhett did say that he wasn't going to do any more work with the project.  But no, you won't get any BTCP if you buy ZCL now.  The split is over and done with.  If you want BTCP now, you have to trade for it.

[2018-03-03 20:44] VERTlG0 commented on #34
Is there a TCP/UDP port option such as how ETHASH runs nodes together.. We specify one as 30303 and another as 30305.

[2018-03-03 20:55] SmartGuyy opened #123 "BTCP Windows Electrum wallet : password issue"
### Describe the issue

In the BTCP Windows Electrum wallet, at the moment of sweep, i pushed send to transfer my BTCP and i had to write my password, but i did the mistake to  type my password for ZCL Electrum wallet and it succesfully sent it. I'm not sure if it makes a link between them or the password just take whatever you put in for the sweep.
I did not try to send any BTCP to another addres

[2018-03-03 22:24] jmarcott86 opened #124 "Error importing P2WPKH-P2SH Bitcoin Private Key"
### Describe the issue
I have a BTC wallet using Segwit P2WPKH-P2SH addresses, and I'm unable to import these keys into the full node wallet. I get an "Invalid private key encoding" error message. I am able to import these keys into the Electrum-btcp wallet and it shows the correct balance, but I'm unable to spend these coins as they need to be shielded first, being coinbase outputs.

### Can you

[2018-03-04 04:18] gmc513 commented on #122
Yes I am having the same issue, I had my zcl in the 1.0 wallet as well. I am also getting the p2sh error

[2018-03-04 06:07] sedarat commented on #123
Hi where can i download wallet of BTCP ?

[2018-03-04 06:08] QuentinN734 opened #125 "sending issue"
impossible to send BTCP

steps to reproduce below:
1.I select the address from whom i am sending
2.I select the destination address

Expected behaviour
sending from address to the other
Actual behaviour + errors
Alert window destination address invalid:
The destination address to send BTCP to:
b1.........................
does not appear to be a valid BTCP address. BTCP addresses start with n1, nx

[2018-03-04 06:12] tinkermade commented on #122
Yes I am having the exact same issue as above.  I initially created a 2FA wallet and discovered that couldn't move ZCL to an exchange address, and was going to have issues.  I used the work-around to create a Multi-sig wallet to access funds.  All of my ZCL addresses begin with T3 and I'm pretty nervous that this is going to impact importing ZCL private keys into BTCP wallet.

[2018-03-04 09:34] ootisra opened #126 "electrum wallet btcp mac"
This issue tracker is only for technical issues related to btcpd.

General Bitcoin Private questions and/or support requests and are best directed to the [BTCP Support Website](https://support.btcprivate.org/).

For reporting Zcash-specific security vulnerabilities or for sensitive discussions with their security team, please contact [security@z.cash](mailto:security@z.cash). You can use the [GPG

[2018-03-04 09:37] ootisra commented on #126
I have a problem trying to launch the Btcp Electrum wallet for Mac, I get this message: Electrum BTCP quit unexpectedly, and it stop there, my mac os is 10.11.6 el Capitan.

[2018-03-04 09:41] ootisra commented on #126
I have a problem trying to launch the Btcp Electrum wallet for Mac, I get this message: Electrum BTCP quit unexpectedly, and it stop there, my mac os is 10.11.6 el Capitan.

[2018-03-04 09:41] ootisra commented on #126
I have a problem trying to launch the Btcp Electrum wallet for Mac, I get this message: Electrum BTCP quit unexpectedly, and it stop there, my mac os is 10.11.6 el Capitan.

[2018-03-04 11:16] Ayms commented on #122
You can consider using https://github.com/Ayms/bitcoin-transactions

See also https://bitcointalk.org/index.php?topic=2827163.msg31273044#msg31273044 (simple examples, same applies for p2sh/multisig addresses)

[2018-03-04 11:16] Ayms commented on #124
You can consider using https://github.com/Ayms/bitcoin-transactions

See also https://bitcointalk.org/index.php?topic=2827163.msg31273044#msg31273044 (simple examples, same applies for p2sh/multisig addresses)

[2018-03-04 14:32] Faris-Mohamed commented on #111
This issue seems to be haven solved.

[2018-03-04 14:32] #111 closed

[2018-03-04 17:35] jmarcott86 commented on #124
Awesome, so your tool just creates the raw transaction and lets you broadcast it to a node without needing to go through the wallet? Thanks, I'll have to take a look.

[2018-03-04 17:54] ericdzen commented on #122
I wrote another ticket under the Bitcoin Private Electrum wallet project and I was able to resolve this issue there. https://github.com/BTCPrivate/electrum-btcp/issues/13

[2018-03-04 18:04] gmc513 commented on #122
USE YOUR SEED PHRASE FROM YOUR ZCL WALLET. THAT WORKED FOR ME

    On Sunday, March 4, 2018 12:54 PM, Eric Dzengeleski <notifications@github.com> wrote:

 I wrote another ticket under the Bitcoin Private Electrum wallet project and I was able to resolve this issue there. BTCPrivate/electrum-btcp#13—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or m

[2018-03-04 19:12] #113 closed

[2018-03-04 19:13] #93 closed

[2018-03-04 19:58] jmarcott86 commented on #125
If you grab the latest 1.0.1 release from https://github.com/BTCPrivate/bitcoin-private-full-node-wallet/releases they've fixed this.

[2018-03-04 21:34] Ayms commented on #124
Yes

#122 looks to be the same

[2018-03-04 21:41] QuentinN734 commented on #125
thanks, you are correct !

[2018-03-04 21:41] #125 closed

[2018-03-04 21:59] Ayms commented on #124
Not sure what you are referring to, all transactions are the same, there are no zk-snarks transactions neither shielded ones

[2018-03-04 23:18] ch4ot1c commented on #126
El Capitan and Yosemite are not yet supported by the Electrum wallet, sorry. Try the full-node wallet.

[2018-03-04 23:18] #126 closed

[2018-03-04 23:19] ch4ot1c commented on #119
No price discussion here.

[2018-03-04 23:19] #119 closed

[2018-03-04 23:19] #120 closed

[2018-03-04 23:19] ch4ot1c commented on #112
Consult with the exchange's instructions and timeline - should be fairly soon.

[2018-03-04 23:19] #112 closed

[2018-03-04 23:20] ch4ot1c commented on #116
No, the snapshot occurred already as stated on https://btcprivate.org . ZCL will continue to exist as a blockchain, tradeable and usable.

[2018-03-04 23:20] #116 closed

[2018-03-04 23:23] ch4ot1c commented on #101
Sorry - their url was removed! Try the latest version. https://github.com/BTCPrivate/BitcoinPrivate/commit/f4946632b0f6cb6b0e6f7511355ca19a889e04e6 has the fix

[2018-03-04 23:23] #101 closed

[2018-03-04 23:24] ch4ot1c commented on #102
https://github.com/BTCPrivate/BitcoinPrivate/pull/114 resolves

[2018-03-04 23:24] #102 closed

[2018-03-04 23:32] #122 closed

[2018-03-05 01:13] AH1111 opened #128 "XPRV needed, Control F"
I am trying to get my xprv keys so that I can claim my btcp from the elctrum BTC wallet.  I'm trying to get the xprv keys and have been told to hit control F and search for xprv. and when I do I see the following....no where can I find the xprv keys.
![image](https://user-images.githubusercontent.com/36057398/36953415-80170332-1fe8-11e8-8796-77d6677b745a.png)

[2018-03-05 01:15] AH1111 commented on #124
So how to get the xprv keys from the electrum BTC wallet on a pc......  when I search for xprv all I see is the following.
![image](https://user-images.githubusercontent.com/36057398/36953450-d660ee60-1fe8-11e8-8333-76fbe21849f7.png)

[2018-03-05 01:16] AH1111 commented on #124
I have the xpub keys so that I can use them to use a multisig wallet, but the xprv is what I don't have

[2018-03-05 02:19] ootisra commented on #126
I have the same problem with the electrum wallet for my El Capitan, but the full node wallet doesnt work either.so I am completely stuck and dont know what to do now.

[2018-03-05 11:01] Ayms commented on #124
Did you try https://iancoleman.io/bip39/ ? (do it offline of course)

You need to find the private keys corresponding to the multisig redeem script of the output you want to spend (see https://github.com/Ayms/bitcoin-transactions#multisig-wallets-2)

If you have move the coins on ZCL or BTC it's more easy to get the redeem script, you can see it in the transactions

Maybe email me if you want

[2018-03-05 12:05] micalways opened #130 "Older Mac Yosemite not able to download electrum BTCP wallet"
Dear BTCP Team,

First let me congrat all of yah for your work, I am really happy to be part of this adventure!

I just had a little issue, issue that is generated because I have a older Mac version that I cannot ugrade anymore.
Can you please tell me if you will soon release a Electrum BTCP wallet for MAC Yosemite?

If not can you please tell me how to get my BTCP?

I really thank you for the eff

[2018-03-05 12:22] Ayms commented on #124
@jmarcott86  My mistake here, indeed the tool does not support shielded txs, not sure if it does worth implementing it, I thought it was rarely used

[2018-03-05 12:56] ragnarrevenge commented on #122
Seed phrase from ZCL? When? During sweep or when creating new wallet?

On Mar 4, 2018 1:04 PM, "gmc513" <notifications@github.com> wrote:

[2018-03-05 14:50] gmc513 commented on #122
Creating new wallet
Sent from Yahoo Mail on Android

  On Mon, Mar 5, 2018 at 7:57 AM, ragnarrevenge<notifications@github.com> wrote:   Seed phrase from ZCL? When? During sweep or when creating new wallet?

On Mar 4, 2018 1:04 PM, "gmc513" <notifications@github.com> wrote:

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-03-05 14:59] ragnarrevenge commented on #122
Thank you so much. It worked for me, and I moved my btcp to a better wallet
immediately. I have had issues with the electrum wallet, so I don't trust
it.

On Mar 5, 2018 9:50 AM, "gmc513" <notifications@github.com> wrote:

[2018-03-05 19:55] micalways commented on #126
A lot of people such as myself having the same problem... BTCP team are Pro’s an the will come with a solution I hope!

[2018-03-06 00:10] k4k commented on #117
@irishismyname The `mkdir ~/.btcprivate` step should probably have gone before the `cd ~/.btcprivate` step (otherwise you wouldn't have the `~/.btcprivate` dir, right?) :)

I tried a few variations of things to try to use the chainstate files from the desktop wallet on my mining pool node. In doing this, I had also removed `~/.btcprivate/uxto_snapshot`. `btcpd` ultimately core dumped when attempti

[2018-03-06 01:45] AH1111 commented on #124
Man, this is so confusing.....and we have done alot in this space with
masternodes etc.....so we aren't idiots.......but I cannot figure out how
or if it is possible to get the xprv's from my wife's Electrum BTC wallet,
the wallet that she set up as 2fa........I cannot believe how difficult
this is for me.  I just don't think I'm going to be able to ever claim this
BTCP and every time we open an i

[2018-03-06 02:13] jmarcott86 commented on #124
@AH1111 Please keep your questions in your own tickets. This isn't the repo for the electrum wallet anyway. For that you want https://github.com/BTCPrivate/electrum-btcp.

Now, I'm assuming you're trying to follow the instructions here, right? https://support.btcprivate.org/445098-Common-Post-Fork-Issues-READ-FIRST---BTCP---Mar-4th-2018

That's telling you do go in your appdata folder (C:\Users\{y

[2018-03-06 02:38] AH1111 commented on #124
Sorry, didn't realize I was on someone else's ticket.  I was just
responding to an email that Aymerric Vitte sent me.  Thanks.

On Mon, Mar 5, 2018 at 9:13 PM, jmarcott86 <notifications@github.com> wrote:

[2018-03-06 05:57] appkoders opened #132 "WARNING: abnormally high number of blocks generated"
What does this error mean?

[code]

What does the message: WARNING: abnormally high number of blocks generated, 1903 blocks received in the last 4 hours (96 expected) mean?

[2018-03-06 09:26] kitaboleh commented on #21
안녕하세요 비트코인토크 계정 판매하려고 이메일이랑 dm도 보냈습니다. 제 닉네임은 nivernova 에요

[2018-03-06 10:03] scottie opened #133 "your master branch is not upto date with releases...."
your master branch is out of date??
your release contains code that is not in your master branch....
1) I clone from from git hub
2) build and sync to latest block
3) run getAddress on daemon
4) get a b1 starting address that is not compatible with wallet GUI....

[2018-03-06 11:16] Ayms commented on #124
@AH1111 github sent the email... if you reply to it, it will be posted here... I suppose that you have fixed the issue, I can help to a certain extent (then you can email me in private) but I am not an Electrum expert at all and probably all that we can find to solve the very same issue will allow you to solve it

[2018-03-06 11:57] oliverw opened #134 "Calculate network difficulty based on legacy powLimit value"
The recently merged PR #131 is problematic in my opinion because this will lead to a situation where the difficulty returned from RPC requests will be 256 times lower than the difficulty calculated by pools from the <code>target</code> property of the blocktemplate.

The powLimit change was already introduced in 11th hour forcing pool developers and operators to scramble to fix the difficulty calc

[2018-03-06 17:16] scottie opened #135 "REMOVE ME"

[2018-03-06 17:17] therealredvoid commented on #135
can confirm. admin pls fix

[2018-03-06 17:22] scottie commented on #135
https://i.imgur.com/KQ8WZbt.png

[2018-03-06 17:24] #135 closed

[2018-03-06 17:28] ch4ot1c commented on #133
Full-node wallet 1.0.0 had 'n1' as the prefix still (testnet); b1 is the correct p2pkh addr prefix.

[2018-03-06 17:28] #133 closed

[2018-03-06 17:29] ch4ot1c commented on #130
We are working toward it this week. Thanks for the message. https://github.com/BTCPrivate/electrum-btcp/issues would be a more appropriate place for this post; no worries though.

[2018-03-06 17:29] #130 closed

[2018-03-06 17:40] ch4ot1c commented on #124
@jmarcott86 please reopen this if you need further assistance. I think your question is legitimate but would like more detail. AH1111 has been helped & resolved; I worked with him yesterday.

[2018-03-06 17:40] #124 closed

[2018-03-06 17:40] #128 closed

[2018-03-06 21:35] #118 closed

[2018-03-06 21:35] #121 closed

[2018-03-06 21:44] VERTlG0 opened #136 "terminate called after throwing an instance of 'std::bad_alloc'"
Platform: GNU/Linux
Arch: Amd64
Kernel: 4.15.4
GCC: 5.4.0
btcpd version: Bitcoin Private Daemon version v1.0.10-1-9ee1d690

[2018-03-07 01:49] VERTlG0 opened #137 "btcpd: boost::mutex::~mutex(): Assertion `!res' faile"
Linux-4.15.4-x64_64

After downloading the blockchain 7z archive and adding the new dirs to the freshly deleted .btcprivate/ dir(except btcprivate.conf and wallet.dat(made backup)).. re-run ./src/btcpd fails with an error...

Thank you for running a Bitcoin Private node!
You're helping to strengthen the network and contributing to a social good :)

In order to ensure you are adequately protecting

[2018-03-07 04:53] animan9 opened #138 "btcpd (daemon) very high cpu utilization"
This issue tracker is only for technical issues related to btcpd.

### Describe the issue
Please provide a general summary of the issue you're experiencing

btcpd used with z-noamp mining pool.
btcpd cpu utilization goes sky high upto 200% cpu or more, preventing other threads to run. This is causing errors below:

2018-03-06 23:09:21 [Pool]      [btcprivate] (Thread 2) Could not parse rpc data fr

[2018-03-07 11:17] time927am opened #139 "How to change BTCP Electrum Watching Wallet to spending wallet"

[2018-03-07 11:19] #139 closed

[2018-03-07 18:28] grzegorzszczecin opened #140 "Segwit outputs are not spendable by nodes but can be stolen by miners."
See also https://github.com/BTCPrivate/BitcoinPrivate/pull/77 for background

As suggested by that pull request, BTCP nodes currently reject TX with witnesses attached (reject: error parsing message). The recommended method of redemption is to use legacy TX serialization for signing, and pre-pend the scriptSig with `<sig> <pubkey>`.

My experiments show that such TX will still get rejected with th

[2018-03-07 22:40] grzegorzszczecin commented on #7
@jc23424 it seems this is still broken (move segwit btcp to non-segwit output). See also issue https://github.com/BTCPrivate/BitcoinPrivate/issues/140

[2018-03-08 06:15] tinkermade commented on #122
Ayms, thanks for sharing to your tool.  I'm still stuck with this multi-sig ZCL wallet that I can't import private keys from into BTCP electrum wallet.  I tried your tx.js script, but there are a few variables that I don't understand, mainly previndex. Please help me to understand:

node tx.js BTCP create `
prevtx=(is this the transaction ID from the previous address (below on the next line)?  Nee

[2018-03-08 08:50] OVGAmining opened #143 "Can't transfer btcp from imported wallet to standard wallet"
I have private key for my zcl address. I created a new wallet on Electrum BTCP. I used the private key to redeem the btcp to the electrum wallet but it say imported wallet instead of standard wallet. I can't send the btcp to any other btcp address. When I try to do a sweep, it only show 6 out of the 35 btcp available to sweep, but in the wallet I have 35 btcp showing.  How do I fix this problem.

[2018-03-08 11:47] Ayms commented on #122
Since this thread is not the place to discuss this, I have opened an issue https://github.com/Ayms/bitcoin-transactions/issues/31#issue-303451989 and will reply there

[2018-03-08 18:12] Ayms opened #144 "Where are the BTC UTXOs?"
See https://bitcointalk.org/index.php?topic=2675257.msg31712647#msg31712647

Some examples...

Nothing appear in your explorer and while trying to move former BTC coins with https://github.com/Ayms/bitcoin-transactions people get "An error occured: 16: bad-txns-vin-empty. Code:-26" which basically means that the corresponding inputs do not exist

[2018-03-08 18:22] Ayms commented on #140
#77 --> what a shitty workaround

And very badly explained

Did you try scriptSig: <sig><pubkey><what they wrongly call scriptpubkey> (ie 00etc segwit address before hash)?

Will try it on my side with people trying to move segwit BTC coins with https://github.com/Ayms/bitcoin-transactions

See #144 also

What a mess...

[2018-03-08 18:29] rterbush commented on #104
I can confirm the same problem on Gentoo and the provided solution does work.

@VERTlG0 thanks for reporting.

[2018-03-08 20:16] grzegorzszczecin commented on #140
@Ayms I have tried all sorts of different combinations...

For calculation of TX hash (for signature), I've tried both the "old" way and the "new (BIP143)" way.

I have also tried to put the script ("\x00\x14" + pubkeyhash160) at the bottom and at the top of the stack. Nothing works for me.

[2018-03-08 20:56] grzegorzszczecin commented on #144
@Ayms how did you obtain your TX inputs? Note that BTCP is not a "real" fork of the bitcoin blockchain. You can locate your TX ID on the BTCP chain with their block explorer (https://explorer.btcprivate.org/), however you need to convert your addresses:

For P2PKH addresses, the corresponding BTCP address start with "b1" (Base58Check version 0x1325)
For P2SH addresses, the corresponding BTCP addre

[2018-03-08 20:58] grzegorzszczecin commented on #144
@Ayms see also @ymgve's address converter script, https://github.com/ymgve/bitcoin_fork_claimer/blob/master/convert_address.py

[2018-03-08 21:46] hsjoberg commented on #140
After several different attempts I'm experiencing similar problems as @grzegorzszczecin.

Has #77 Partial SegWit support been confirmed working at all?

[2018-03-08 22:29] ymgve commented on #144
It is not a real fork. It does not contain the BTC blocks from the genesis block up until the fork block.

Instead, the creators have manually funded all BTC addresses at the fork height. This means all TXIDs on the normal BTC blockchain are invalid in the BTCP blockchain, and you have to track down your TXIDs related to your address manually in their block explorer.

[2018-03-08 22:32] Ayms commented on #140
BIP143 is not supported by this (stupid) fork (why "stupid" because if you fork something that supports segwit then you should support it also unless you have stated the contrary, which is not the case here), I modified my post above since the rendering was not correct

At the bottom, it must work if everything is correct, will try it also

Again, no hazard possible, It must work if everything is

[2018-03-08 22:47] Ayms commented on #144
Let's not play with words, they have remined all the utxos in their blockchain, so of course you don't have the same blocks but same BTC tx ids should be there, and they are not

Do you mean that they did the same than "United Bitcoin and the God mode or The robbery of the century" https://gist.github.com/Ayms/86309b48084087a82634615d209f8b26

Certainly not, amateurism can't do this

@ymgve Do you

[2018-03-08 22:59] grzegorzszczecin commented on #144
@Ayms no, absolutely not. You won't find the same "BTC tx ids".

The "BTC tx id" is just the double-SHA256 hash of the serialized TX. Only the UTXOs at the time of the fork are re-mined in the BTCP blockchain in the form of coinbase transactions created out of thin air. These TX obviously will not retain the original TX id. Like I said, the only way to track them down is to look up in the block ex

[2018-03-08 23:03] ymgve commented on #144
Here's my address on the BTC blockchain:
https://blockchain.info/address/1HDW5sy8trGE8mEKUtNacLPGCx1WRtebnp

Here's my address on the BTCP blockchain:
https://explorer.btcprivate.org/address/b1Lghm4p8e1JLG3YtS2oZCqMwqDiahRhSkQ

Both of these addresses are the same, encoding the hash160 'b1df48437bc20058305dc266c4216afa5ba63fd1' (You can use http://lenschulwitz.com/base58 and see for yourself)

See

[2018-03-08 23:54] holuan commented on #144
I am using @ymgve script: `convert_address.py sourcebtcaddress b19myfKHqRLAVKwu4BSysu3qjjtoPWtaRQo(arbitrary btcp address, always the same)

I dug out a couple of random examples and converted them as per the script above, looks like I am only able to get btcp addresses that contain transactions and coins when the source btc address starts with 1, but nothing for the ones starting with 3.

3BMEXvM

[2018-03-09 00:04] grzegorzszczecin commented on #144
@holuan You're doing it wrong because your addresses start with 3 (Base58Check version 0x05) and the corresponding BTCP addresses must start with "bx" (Base58Check version 0xaf)

You need to supply a P2SH address to convert_address.py, for example use bxk5hXBKgzqLr9Vm2zaZmHAmwUnwm5YRYUe.

[2018-03-09 00:23] Ayms commented on #144
Well... before posting this nothing appeared in BTCP explorer for BTC and now, all of sudden, even if I checked before posting (and still nothing),  everything seems to be there (dated now 3rd of March)

And indeed it seems to come from nowhere (ie newly generated coins), quite strange

But there are no hazards, you seem to be comfortable with it but I am not, will find out what happened

Strangel

[2018-03-09 04:41] grzegorzszczecin commented on #140
@jc23424 can you take a look at #77 regarding the two VerifyWitnessProgram() calls? From my preliminary debugging, these code blocks were never triggered because flags does not have SCRIPT_VERIFY_WITNESS set. As a result we did not clean up the stack, and failed in the CLEANSTACK check:

[code]

[2018-03-09 14:09] hsjoberg commented on #140
If `VerifyWitnessProgram()` is not called because `SCRIPT_VERIFY_WITNESS` flag set, that would mean that [`stack.resize(1);`](https://github.com/BTCPrivate/BitcoinPrivate/pull/77/files#diff-be2905e2f5218ecdbe4e55637dac75f3R1317) is never called, leaving a non-clean stack and thus is non-standard.

So basically this also means that the Witness program is never evaluated/executed(?).
Miners could th

[2018-03-09 14:37] grzegorzszczecin commented on #140
@hsjoberg are you sure that miners can bypass the SCRIPT_VERIFY_CLEANSTACK check? If that check is not part of the consensus rule then this is a very serious problem! Miners can figure out the redeem script easily if such P2WPKH-P2SH and P2WSH-P2SH outputs are already spent on the Bitcoin blockchain. BTCPrivate.org actually recommends "moving" the output on the Bitcoin blockchain before redeeming

[2018-03-09 15:07] hsjoberg commented on #140
@grzegorzszczecin AFAICT the cleanstack rule is not consensus critical, if you have a non-clean stack, your transaction is just considered non-standard.

Even worse, normal P2WPKH should be directly vulnerable, right now!!

[2018-03-09 16:25] #74 closed

[2018-03-09 16:28] ch4ot1c commented on #134
We've decided to leave this PR in; please update your software to the latest release.

[2018-03-09 16:28] #134 closed

[2018-03-09 16:30] Ayms commented on #140
Unfortunately I don't have all my time to investigate this right now

But what says #77 cannot be correct or si wrongly explained, because p2wpkh and p2wsh should end up with the same treatment, which at the end is to validate the segwit address

Then, maybe wrong here but logically it should be:

``<sig> <pubkey> <scriptpubkey as a normal p2pkh or p2sh><what they wrongly call scriptpubkey> (ie 00

[2018-03-09 19:17] hsjoberg commented on #140
@Ayms I think that is slightly off topic, but no, in P2WPKH/P2WSH in P2SH I believe that it would successfully interpret that it is a witness program, redeem script would be popped from the stack and checked with `IsWitnessProgram()`, just as it would in Bitcoin (scriptSig is used for the redeem script in Bitcoin as well, for P2PWKH/P2WSH in P2SH).

Check [interpreter.cpp@1289](https://github.com/

[2018-03-09 20:27] jc23424 commented on #140
Thank you - I believe you are correct - fix to consensus rules just released. Will add relevant script flags to policy in a follow up

[2018-03-09 21:25] hsjoberg commented on #140
@jc23424 I appreciate the fast response on this issue.
Note that this will cause a softfork which could (and probably will) lead to chainsplits

I guess it will eventually resolve itself once a majority of the miners are on the new version, but those miners who haven't upgraded will lose their coins.

[2018-03-09 21:33] jc23424 commented on #140
Thank you for finding it!
Yes - people are coordinating with miners to coordinate upgrades in the safest possible manner given the circumstances

[2018-03-09 22:33] jc23424 commented on #140
Quick update: this change is now locked in on a majority of hashrate
There were no invalid blocks observed in before lockin

[2018-03-09 22:44] hsjoberg commented on #140
@jc23424 Thanks for the update.

Cheers

[2018-03-09 23:01] BlueSilver22 commented on #140
@grzegorzszczecin, @Ayms and @hsjoberg please send an email to criticalbugs@btcprivate.org

We would like to reward you for finding this critical vulnerability and bringing it to our attention.

The email should be from an address matching the one on your github profile. Send along a Bitcoin Private address. Thank you again.

[2018-03-09 23:01] #140 closed

[2018-03-10 00:24] Ayms commented on #140
Kind attention, but my participation here to the resolution of the issue (for a fork that I am still questioning until everything is square) is quite small, then the rewards must go to @grzegorzszczecin and @hsjoberg

[2018-03-12 08:20] chris334 opened #148 "api issue"
This issue tracker is only for technical issues related to btcpd.

General Bitcoin Private questions and/or support requests and are best directed to the [BTCP Support Website](https://support.btcprivate.org/).

For reporting Zcash-specific security vulnerabilities or for sensitive discussions with their security team, please contact [security@z.cash](mailto:security@z.cash). You can use the [GPG

[2018-03-12 17:16] fokep commented on #132
You will find the meaning here: [main.cpp line 2100](https://github.com/BTCPrivate/BitcoinPrivate/blob/master/src/main.cpp#L2100). It expects one block every 2.5 min (96 pr. 4 hours). This is part of a check function

[code]

[2018-03-12 19:56] #123 closed

[2018-03-12 19:58] ch4ot1c commented on #38
https://btcprivate.org/whitepaper.pdf section 7

[2018-03-12 19:58] #38 closed

[2018-03-12 21:14] ch4ot1c commented on #144
Thank you for the discussion; these points are all sensible. Closing this for now.

[2018-03-12 21:14] #144 closed

[2018-03-12 22:15] #115 closed

[2018-03-12 23:50] interbiznw commented on #138
Z-nomp is using the daemon to send funds.. The funds in z-nomp go from T-address to Z-address back to the 3rd address in the config which is a T-address before the funds are then spent and sent to miners.

When z-nomp sends the command to send the daemon is shielding the transactions. The shielding process is where you are seeing btcpd max out cpu usage.. How many cores does this machine have?

@j

[2018-03-13 03:40] BlueSilver22 commented on #138
He says this is occurring as soon as it finishes syncing and z-nomp turns on. I imagine with no mined funds, it should not be performing any shielded txns at that moment.

Has anyone else experienced this before? We have had plenty of issues related to z-nomp but this has not been one of them thus far.

[2018-03-13 06:37] animan9 commented on #138
Thanks for looking into this.... I believe the excess loading is related to the default pool config settings in config.json. When I reduced the "blockRefreshInterval" from 500 (default) to 100, I was able to reduce the btcpd CPU load from 200% to around 5%, as displayed by "top" utility.

Note the config.json file is common for all coins. I am only running the btcp daemon, I am not sure if this ch

[2018-03-13 10:41] Jalalrsa opened #149 "Exchange issue"
about 16 hours ago
I know this issue shouldn't be here,but as a btcp community member I like to suggest our btcp marketing team to focus on exchange listing,its really important now,coins future depends on marketing after all,this is giving chance fudders to make fud about btcp,and I think our marketing team is not transparent about exchange listing,

[2018-03-13 11:20] BlueSilver22 commented on #138
@animan9 care to make a pull request?

[2018-03-13 11:20] #138 closed

[2018-03-13 11:22] #149 closed

[2018-03-13 11:22] #55 closed

[2018-03-13 11:24] #45 closed

[2018-03-13 12:17] Jalalrsa opened #150 "Copay btcp wallet"
Is it not possible to make btcp copay wallet for all platforms like android Linux windows osx

[2018-03-13 14:17] ch4ot1c commented on #95
Build doesn't fail; but does skip.

[2018-03-14 11:36] jaafer1214 opened #152 "Electrum BTCP Wallet -> Not Verified transaction on wallet restore."
### Describe the issue
**System**: Windows 8.1 64 bit
**Wallet**: Electrum BTCP P_1.0.0

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:

1. Download Electrum BTCP wallet to a new PC or delete your current wallet file and start Electrum BTCP wallet again.
2. Restore the BTCP wallet using the seed.
3. Give a new password.
4. Wallet will open and start

[2018-03-15 07:55] paulofoerster opened #153 "BTCP coins stuck on a view mode wallet on Komodo Platform BarterDEX"
Can you guys contact me in private please? It is a quite serious bug at BarterDEX's app for mac, creating view mode wallets and not informing it wasnt supposed to be used for deposits, and of course I need some help recovering my coins.

This issue tracker is only for technical issues related to btcpd.

General Bitcoin Private questions and/or support requests and are best directed to the [BTCP Su

[2018-03-18 21:47] lodotek commented on #153
Same issue here but on a PC.  Please advise...

[2018-03-19 02:46] paulofoerster commented on #153
The latest version fixed it, I managed to get my coins back. Use a clean windows installation + BTCP full node wallet + BarterDex 0.8.12. It just takes a whole day to download and scan the blockchain.

[2018-03-24 21:49] ch4ot1c commented on #150
Working on it!

[2018-03-28 08:12] #132 closed

[2018-03-28 08:14] ch4ot1c commented on #137
I kindly ask you to retry with a more recent version, and to paste `./btcp-cli --version` with the error if you can replicate it.

[2018-03-28 08:14] #137 closed

[2018-03-28 08:16] ch4ot1c commented on #143
Are there multiple private keys? Do you have the seed words (try those first)?

Perhaps you need to 'View->show addresses' in Electrum to see every change address.

Find the remaining 29! ❤️

[2018-04-07 15:57] ch4ot1c commented on #152
You simply need to wait; there should be UI indication for this.

[2018-04-07 16:04] #153 closed

[2018-04-09 05:37] interbiznw commented on #148
This is a mining pool related issue and it is in regards to using https, that issue was resolved and we now use http://pool.btcprivate.org and the API will load fine.

[2018-04-09 05:37] #148 closed

[2018-04-09 05:58] interbiznw commented on #152
The blockchain height, and electrum height need to match before correct values will be shown
![alt text](https://i.imgur.com/VvH2LKH.png "screenshot")

[2018-04-10 23:40] BlueSilver22 commented on #7
@csulmone Is this resolved?

[2018-04-11 14:33] mecampbellsoup commented on #8
@heyrhett hi there - are there any other issues pending which include a bounty similar to this one for BTCP?

[2018-04-13 01:44] 0xbytes opened #164 "missing addwitnessaddress from btcp-cli (used to spend from segwit address)"
It is not possible to add a segwit address using btcp-cli.
btcp-cli is missing the switch addwitnessaddress. All forks of bitcoin that support segwit have this feature.  It is not possible to spend from a segwit address using btcp-cli.

Usually the procedure to import a segwit address is:
1. bitcoin-cli importprivkey [private key] "some label" true
2. bitcoin-cli dumpwallet "aaa.txt"
3. open aaa.t

[2018-04-13 03:10] michaelotis commented on #164
@0xbytes Full segwit support has not been fully implemented, you will not be able to create segwit addresses or send segwit transactions. You will need to importprivkey and sweep your funds to a transparent b1 address or private z address (getnewaddress, z_getnewaddress), importprivkey will rescan the blockchain and you'll be able to spend.

[2018-04-13 13:36] 0xbytes commented on #164
Thanx, that works.
Steps are:
1. btcp-cli  importprivkey [private key] "some label" true

[2018-04-14 01:09] ymgve commented on #140
Are you sure this is actually fixed? In the latest version I simply set STANDARD_SCRIPT_VERIFY_FLAGS to MANDATORY_SCRIPT_VERIFY_FLAGS and got a proof of concept "theft" transaction accepted. I don't have computing power enough to mine a block, but as far as I see there's nothing stopping a powerful miner from doing the same and the network would then accept the block since blocks only require MAND

[2018-04-14 11:12] ymgve commented on #140
Yeah, sorry - that check should be enough to exclude those transactions from blocks. I don't have the power to do a test mine so I only tested mempool acceptance - didn't know there was separate code for the mandatory block flags.

[2018-04-15 20:54] #164 closed

[2018-04-15 20:56] #117 closed

[2018-04-21 16:41] BlueSilver22 commented on #152
@jaafer1214 if you are still having the issue please report it to the electrum repo: https://github.com/BTCPrivate/electrum-btcp

[2018-04-21 16:41] #152 closed

[2018-04-21 16:42] BlueSilver22 commented on #143
@OVGAmining please report this issue to the electrum repo: https://github.com/BTCPrivate/electrum-btcp

[2018-04-21 16:42] #143 closed

[2018-04-21 16:43] BlueSilver22 commented on #136
@jc23424 thoughts on this?

[2018-04-21 16:43] BlueSilver22 commented on #7
support has been provided by Ledger. Pull requests made to Trezor and awaiting response. Considering this closed.

[2018-04-21 16:43] #7 closed

[2018-04-21 16:44] BlueSilver22 commented on #103
@sogmko are you still having this issue?

[2018-04-21 16:45] BlueSilver22 commented on #104
@ch4ot1c did you make the necessary pull request to fix this?

[2018-04-21 19:35] nolteman opened #172 "memory pool wtf"
Hostname: electrumx-btcp-us-central-c32b
As of Sat Apr 21 17:46:01 UTC 2018 **# there are 11 transactions in the memory pool**

Help, I'm new in mining , please be simple and specific to help me.

[2018-04-21 19:40] nolteman commented on #172
![image](https://user-images.githubusercontent.com/6262110/39088090-bcd8f6fa-4571-11e8-856d-f8f78fc75970.png)
![image](https://user-images.githubusercontent.com/6262110/39088098-dfba6bd6-4571-11e8-93b9-a1cc96346b21.png)

[2018-04-21 19:40] nolteman commented on #172
![image](https://user-images.githubusercontent.com/6262110/39088102-feead9b4-4571-11e8-9d7a-8e6e3bbce1c4.png)

[2018-04-21 19:41] IceeHot commented on #172
What is the question? Do you need to know what a "memory pool" is?

[2018-04-21 19:43] nolteman commented on #172
no, I open the console tab and this appeared

2018-04-21 14:41 GMT-05:00 Eric Domenic-Smith <notifications@github.com>:

[2018-04-21 19:46] nolteman commented on #172
http://pool.btcprivate.org/dashboard.html

STUCK, not releasing the coins_?

2018-04-21 14:43 GMT-05:00 Sebastian Nolte <noltealeman@gmail.com>:

[2018-04-23 03:39] chaddybox026 opened #173 "My wallet file corrupted?"
I had false txes in my wallet, as in they said they existed but they didn't. I used -zapwallettxes=2 to try to clear the bad txes from the wallet file but all it did was create "wallet.(timestamp).bak" which I cannot open or do anything with.
I'm on windows 8.1 running btcp wallet version 1.0.1

[2018-04-23 03:50] interbiznw commented on #172
@nolteman  Nobody can delete this page. It is now a piece of history.

[2018-04-23 04:29] nolteman commented on #172
Hahahaha Ok thanks                                                                                                                                                                                                                                                                                                                                         Enviado desde mi smartphone BlackBerry 10.

[2018-04-23 22:40] d-eco-creative commented on #125
Im still having this issue with version 1.0.4 for mac

[2018-04-24 00:28] donshin commented on #125
@d-eco-creative Have you been trying to copy an address from Electrum and paste it into the Full Node Wallet for mac? If so, what you are experiencing is likely this issue: BTCPrivate/bitcoin-private-full-node-wallet#27 .

[2018-04-24 11:39] d-eco-creative commented on #125
@donshin Thanks, I copied the electrum wallet address into a text document and then cop/pasted it again into full node wallet and it worked. Thanks for the help :)

[2018-04-24 13:59] ch4ot1c commented on #173
https://github.com/BTCPrivate/walletaid/tree/master

I have successfully used this to recover from a `.bak` ; see if it works for you

[2018-04-24 14:01] chaddybox026 commented on #173
Ok will do! Thank you!

[2018-04-25 08:00] Horeas opened #174 "Problems with a multisign electrum btcp wallet"
Guys i have a problem. I has a 2to2 zcl wallet and i wanted to claim the btcp. I tryied the standard wallet , but no luck, i tried the import priv keys and no luck. Finaly i made a new multisign btcp electrum wallet using the seed i had from the zcl el. wallet and after that i got a public key and in the next box i wrote the zcl wallet public key that i had saved from the time i made that wallet.

[2018-04-28 16:39] BlueSilver22 commented on #174
Plug your ZCL seed into the BTCP electrum wallet when you make a new wallet.

[2018-04-28 16:39] #174 closed

[2018-04-29 07:36] Horeas commented on #174
Its not working man. If i plug in the seed i make a new wallet but the coins dont apear. When i import private k i get 2psh! Its so complicated

[2018-05-03 02:16] FrankK53 opened #180 "Failed Ubuntu install"
After 2 1-/2 hours of compiling (with a 2 Gb swapfile), my installation failed...
libbitcoin_server_a-torcontrol.o test -f 'torcontrol.cpp' || echo './'torcontrol.cpp
Makefile:3434: recipe for target 'libbitcoin_server_a-torcontrol.o' failed
make[2]:  [libbitcoin_server_a-torcontrol.o] Error 1
make[2]: Leaving directory '/root/BitcoinPrivate/src'
Makefile:5286: recipe for target 'all-recursive' fa

[2018-05-03 04:28] #172 closed

[2018-05-09 17:42] incognito026 opened #182 "No hardware device detected MAC OSX"
I try to setup a new BTCP wallet with my ledger nano s but i'm getting this error. Any idea why?
The ledger is unlocked.

![btcpwallet](https://user-images.githubusercontent.com/31889660/39830193-f634a9c8-53c0-11e8-917f-bfbe6554c08a.jpg)

[2018-05-11 13:23] zoxich opened #183 "Electrum wallet error"
Hello:
Please help:
I can't send any BTCP from Electrum wallet(v1.1.1) to another adress.
Signing transaction error:

![1212](https://user-images.githubusercontent.com/39192650/39926257-0dd33ba2-5548-11e8-94a0-a92fcd693ee7.JPG)

![12311](https://user-images.githubusercontent.com/39192650/39926258-0df68d46-5548-11e8-8875-627b861c1f61.JPG)

I try to delete blockchain_headers file and make new - no r

[2018-05-11 17:04] mabbas1975 opened #184 "Testnet sync issue"
Hello,
i am running a full node of BTCPrivate but i couldn't sync, is there any nodes i should add in order
to complete syncing, now i stuck at block  310

[2018-05-12 13:15] mabbas1975 commented on #184
my getinfo output is
{
  "version": 1001251,
  "protocolversion": 180004,
  "walletversion": 60000,
  "balance": 0.00000000,
  "blocks": 310,
  "timeoffset": 0,
  "connections": 4,
  "proxy": "",
  "difficulty": 1,
  "testnet": true,
  "keypoololdest": 1526049149,
  "keypoolsize": 101,
  "paytxfee": 0.00000000,
  "relayfee": 0.00000100,
  "errors": ""
}

it's stuck at block 310, anybody cal help

[2018-05-15 22:19] barry-h opened #185 "autoreconf: automake failed with exit status: 1"
Makefile.am:3: error: Libtool library used but 'LIBTOOL' is undefined
Makefile.am:3:   The usual way to define 'LIBTOOL' is to add 'LT_INIT'
Makefile.am:3:   to 'configure.ac' and run 'aclocal' and 'autoconf' again.
Makefile.am:3:   If 'LT_INIT' is in 'configure.ac', make sure
Makefile.am:3:   its definition is in aclocal's search path.
autoreconf: automake failed with exit status: 1

hello guys a

[2018-05-16 03:55] #183 closed

[2018-05-25 09:50] gktown opened #186 "Proposal: Merge BTCP UTXOs with Litecoin UTXOs to Create Litecoin Private"
Utilizing the same method that ZCL community initiated, I propose that we merge our BTCP UTXOs with Litecoins UTXOs to create a new coin called Litecoin Private. By doing this, all current supporters of the BTCP privacy movement, now aided by John McAfee, will gain their first dividend coin in the form of Litecoin Private.

#### Gaining Litecoin Private:
* Hold 1 BTCP or 1 LTC at the time of the f

[2018-05-26 18:10] Rockeronhunt opened #187 "Minnig Error"
invalid address length for b1HVuApLpSTtKTT72b9wMXoA67aGhuhSTW2
when i start my node init.js with unomp (creating  UI) my daemon and cli is successfully installed
i get this address(b1HVuApLpSTtKTT72b9wMXoA67aGhuhSTW2) using this command
please help me if anyone have the solution

i used this command to get the address ---

root@ubuntu-s-1vcpu-2gb-nyc1-01:~/BitcoinPrivate# .**/src/btcpd getnewaddre

[2018-05-26 22:05] michaelotis commented on #187
Try

./src/btcp-cli getnewaddress

[2018-05-27 04:42] Rockeronhunt commented on #187
@michaelotis i tried and i get the new address also but when i installed UNOMP for mining
and run this command **node init.js** I got this error
![untitled](https://user-images.githubusercontent.com/32458821/40582506-5d78b3f8-6196-11e8-9776-7a940585ca4d.png)

[2018-05-27 14:00] ramphy commented on #136
@VERTlG0 Can you send a memory usage and other stats report?

[2018-05-28 13:16] Rockeronhunt commented on #187
plz reply @michaelotis

[2018-06-04 03:58] michaelotis commented on #187
unomp isn't supported pool software, you need to use z-nomp

[2018-06-04 16:25] mabbas1975 opened #188 "Testnet please!"
Hello,
please help the testnet is sucked at block 310, we reported this issue before without any reply should we
a specific version now we got this error

 InvalidChainFound:  current best=06cafcbaf45ad0350ef8c1386fe687dc75e923c06dea2f17747d181e4b00d45b  height=310  log2_work=13.280771  date=2018-02-22 14:41:35

please help we are working in a project and we are waiting the testnet eagerly

[2018-06-04 16:27] Rockeronhunt commented on #187
ok sir thanks i start with this if i find any issue i ll let u know

[2018-06-08 17:18] Rockeronhunt commented on #187
thanks @michaelotis for helping m i solved this issue one more question i have
what is this three address & how i can get all this address

    "address": "",
    "_comment_address": "a transparent address to send coinbase rewards to and to transfer to zAddress.",

    "zAddress": "",
    "_comment_zAddress": "a private address used to send coins to tAddress.",

    "tAddress": "",
    "_comment_t

[2018-06-13 10:12] milaas opened #189 "BTCP Nodes List"
is there a bitcoin private node list for the btcprivate.conf
a mean more than this:
addnode=dnsseed.btcprivate.org
addnode=dnsseed.btcprivate.co
take so long to sync...

           Block height | 278153
            Connections | 8
  Network solution rate | 2 Sol/s

[2018-07-16 14:09] Rockeronhunt commented on #187
![image](https://user-images.githubusercontent.com/32458821/42763148-d29bd032-892f-11e8-810d-2b2011d878a2.png)
I try using z-nomp with bitcoinprivate & everything is successfully working but when i mined my coin i am not getting any block.

[2018-07-21 23:30] #173 closed

[2018-07-21 23:30] #106 closed

[2018-07-21 23:31] ch4ot1c commented on #104
No, but again:

Add "--ignore-site-config" option to depends/packages/boost.mk file where ./b2 is called. This will save gentoo users a headache.

[2018-07-21 23:31] #104 closed

[2018-07-21 23:32] ch4ot1c commented on #180
Make sure you have the dependencies and follow the instructions.

[2018-07-21 23:32] #180 closed

[2018-07-21 23:33] ch4ot1c commented on #184
I see `testnet: true`; definitely related

[2018-07-21 23:33] #184 closed

[2018-07-21 23:38] ch4ot1c commented on #150
BitPay is a constantly moving target. Rest be assured, BIP44 and SLIP44 for BTCP on Copay is already implemented, just no reason to release it until we can finish up a stable release.

[2018-07-21 23:38] #150 closed

[2018-07-21 23:40] ch4ot1c commented on #182
No, sorry; retry in https://github.com/BTCPrivate/electrum-btcp

[2018-07-21 23:40] #182 closed

[2018-07-21 23:41] ch4ot1c commented on #185
Make sure you have libtool installed, and in your path, and you have the dependencies installed, and are following the instructions.

[2018-07-21 23:49] ch4ot1c commented on #136
Need a debug log to investigate further. Certainly is a very rare issue / edge case. Regardless, the well-maintained Bitcoin codebase we are using in the rebase will have all these Zclassic-originated bugs squashed.

Please check out our progress, remembering it is not production ready: https://github.com/BTCPrivate/BTCP-Rebase

[2018-07-21 23:49] ch4ot1c commented on #188
@michaelotis @donshin

[2018-08-01 02:33] IVIBED-COM opened #190 "BTCP MINER **DIRTY JOB ** ANYONE ELSE GETTING THE DIRTY WORK PACKAGES ???"
This issue tracker is only for technical issues related to btcpd.

General Bitcoin Private questions and/or support requests and are best directed to the [BTCP Support Website](https://support.btcprivate.org/).

For reporting Zcash-specific security vulnerabilities or for sensitive discussions with their security team, please contact [security@z.cash](mailto:security@z.cash). You can use the [GPG

[2018-08-09 15:15] aldaw commented on #71
If someone has the same problem i solved it with this server:
electrum.zclassic.community:5002

[2018-08-18 00:06] j4ys0n opened #192 "404 when building explorer-btcp branch"
### Describe the issue
Please provide a general summary of the issue you're experiencing

404 error when downloading dependencies when building the explorer-btcp branch.

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1.
[code]
2.
[code]

### Expected behaviour
Tell us what should happen

build should complete successfully.

### Actual behaviour + e

[2018-08-18 01:37] interbiznw commented on #190
What pool, and what miner?

[2018-08-18 04:16] alikhalil commented on #192
I also have this issue, but with the release i.e. [tag/1.0.12-1-b27c722](https://github.com/BTCPrivate/BitcoinPrivate/releases/tag/1.0.12-1-b27c722). It looks like files that they're referring to at https://z.cash/depends-sources/ no longer exist.

This issue doesn't seem to be restricted to BTCP. [Even Zclassic is affected](https://github.com/z-classic/zclassic/issues/178).

[2018-09-11 04:51] tearodactyl commented on #8
@daira, did the "similar in spirit but different in detail to SIGHASH_FORKID" method make it into the ZIPs or into the code, please?

[2018-10-16 18:47] ch4ot1c commented on #192
Maybe this: https://gmplib.org/download/gmp/gmp-6.0.0a.tar.xz?

Just successfully built the latest release on ubuntu 18 after 1 fix.

[2018-10-16 18:50] ch4ot1c commented on #192
I guessed that by looking at the file update date of `depends/packages/libgmp.mk`

[2018-10-17 08:39] #95 closed

[2018-10-17 08:40] #187 closed

[2018-10-17 08:40] #185 closed

[2018-10-17 08:41] #190 closed

[2018-10-17 08:41] ch4ot1c commented on #189
The dnsseed should serve all peers just fine; For more than 8 cxns, be sure to open the p2p port 7933.

[2018-10-17 08:41] #189 closed

[2018-10-17 08:42] ch4ot1c commented on #188
Use `-regtest` for this version if need be; we're configuring a testnet at BTCPrivate/BTCP-Rebase.

[2018-10-17 08:42] #188 closed

[2018-10-17 16:51] interbiznw commented on #189
Yeah @milaas  the dnsseed provides the list of nodes, you can run a DNS address query on dnsseed.btcprivate.co and see that it returns a list plenty big enough to get nodes listed. If you do not open the p2p port 7933 you will never get more than 8 connections regardless.

[2018-12-24 11:55] opencryptotools opened #195 "cant sent any funds from p2sh-segwit wallet using electrum with ledger"
### Describe the issue

there are 3 derivation paths to choose from when creating the wallet: legacy (BIP44), p2sh-segwit (BIP49), native-segwit (BIP84).

i went for p2sh-segwit (BIP49) when i created the wallet. after reading some forums and reddit i figured out that a few months ago people had the same problem because apparently segwit actually is not competible, so it was very dumb to send it t

[2019-01-26 14:47] mattpass opened #203 "Block reward changes"
Tweaks need to be made to the block rewards and we're informed it's within the `GetBlockSubsidy` function, which should be here:

https://github.com/BTCPrivate/BitcoinPrivate/blob/6c8ed84c5185fa522b57e08d1494bab2020da39a/src/main.cpp#L1419-L1454

[2019-01-26 15:05] mattpass commented on #203
Notes courtesy of Littlefoot also:

Halving interval i think is in https://github.com/BTCPrivate/BitcoinPrivate/blob/master/src/chainparams.cpp#L311 and so is the diff bomb

Looks like this would have to be changed before any merge too https://github.com/michaelotis/BitcoinPrivate/commit/1f0262b717f57a892daae9adb7b7224753c16d53

[2019-01-28 17:58] mattpass opened #204 "Difficulty bomb removal"
The difficulty bomb is due to happen this year and it's been noted it's a good idea to remove it altogether.

Someone will need to look into when it is due to occur and remove it so it doesn't happen.

[2019-01-28 18:01] mattpass commented on #203
I have been advised and so noting it here that we should perform lengthy calculations on the block reward change to be sure it’s properly set up to coincide with lifetime supply.

[2019-01-28 18:03] mattpass opened #205 "Hardfork - before Feb 16 - test gettxoutsetinfo"
Info advised from someone on a rather crucial item, noting here for someone to deal with...

**Test to be sure that gettxoutsetinfo does not show the burned coins.**

**It was not tested prior to the last hard fork because it was anticipated we would have time to implement a fix after the hard fork. You should be certain this will work properly. This is priority #1 as it should be working before F

[2019-01-28 18:14] mattpass commented on #204
Looking at code quickly, it seems the difficulty bomb is due to go off on block 600,000:
https://github.com/BTCPrivate/BitcoinPrivate/blob/519ceaa3674faf07376f6ec14be86c692513518d/src/chainparams.cpp#L54

Some quick calculations - if Feb 16th is anticipated to be blockheight 480,000, there's 120,000 left before the bomb.

24 x 60 = 1,440 mins a day. 120,000 / 1,440 = 83.3 days after Feb 16th. Divi

[2019-01-28 18:30] Daz2 commented on #205
yeah, not sure how to get red letters on git.. seems like a good project.

[2019-01-29 00:14] TrueDetective commented on #205
Team is always looking for adding new developers. If interested.

[2019-01-29 18:13] bigdaveakers commented on #204
Couple of points...…
What is the logic behind removing it rather than moving it? From a testing point of view moving it to block 1000000 is easier than testing complete removal. I am not a fan of redundant code, but...…..

Second point, your maths is wrong assuming blocks are mined every 2.5 minutes......so more like 6-7 months.....

[2019-01-29 18:20] bigdaveakers commented on #203
What are the "tweaks" that are required? What are the block rewards being changed to?

[2019-02-01 15:52] jRazer opened #207 "Transaction sended but not shown on exlorer \ mined"
Transaction sended but not shown on exlorer \ mined
debug log without error

TXID: aedefa95f53fafc1c5d8de5a1c74bf4af1819da3373892bec3e40cf3375f536b
Bitcoin Private Daemon version v1.0.13-g6c8ed84c5

[2019-02-01 18:22] jRazer commented on #207
Thanks, I will try now

[2019-02-05 21:09] zebambam opened #210 "CVE-2019-7167"
Hey. I think you should look at this to see if you're vulnerable. I've raised a ticket with github to let you know through their notification system. The CVE details were submitted this morning but haven't been changed at the mitre end yet.

Title
*****

BCTV14 setup produces elements that violate soundness leading to Counterfeiting Vulnerability in Zcash and others

Description
**********

The co

[2019-02-06 10:35] alexcos20 opened #211 "btcpd crash: btcpd: main.cpp:2631: bool ConnectTip(CValidationState&, CBlockIndex*, CBlock*): Assertion `pcoinsTip->GetAnchorAt(pcoinsTip->GetBestAnchor(), oldTree, chainActive.Height() >= Params().GetConsensus().zResetHeight)' failed"
### Describe the issue
Btcpd crashing with:

btcpd: main.cpp:2631: bool ConnectTip(CValidationState&, CBlockIndex*, CBlock*): Assertion `pcoinsTip->GetAnchorAt(pcoinsTip->GetBestAnchor(), oldTree, chainActive.Height() >= Params().GetConsensus().zResetHeight)' failed.

### Can you reliably reproduce the issue?
Sometimes is ok for 2-3 days, sometimes it is crashing at startup

### The version of Bit

[2019-02-06 16:21] bigdaveakers opened #212 "Chainparams.cpp needs updating for clarity of halving strategy"
This issue tracker is only for technical issues related to btcpd.

General Bitcoin Private questions and/or support requests and are best directed to the [BTCP Support Website](https://support.btcprivate.org/).

For reporting Zcash-specific security vulnerabilities or for sensitive discussions with their security team, please contact [security@z.cash](mailto:security@z.cash). You can use the [GPG

[2019-02-06 22:26] mattpass commented on #212
This is the code mentioned above:
https://github.com/BTCPrivate/BitcoinPrivate/blob/6c8ed84c5185fa522b57e08d1494bab2020da39a/src/main.cpp#L1440

Always a good idea to point code out with the URL and line number(s) where possible 😀

[2019-02-07 13:20] bigdaveakers commented on #203
I now wish I had never asked!!!!

[2019-02-07 13:24] bigdaveakers commented on #212
Noted, although I think that the issue will be superseded by any change that drops out of current discussions around mining. Never the less the clarity issue will remain unless something is done.

[2019-02-11 06:43] interbiznw commented on #210
Thank you @zebambam we are aware since the release of this info and are working on a solution.

[2019-02-11 06:49] interbiznw commented on #211
@alexcos20 is this node fully synced, is it a new install or one that had been running for some time?

[2019-02-11 06:50] interbiznw commented on #207
Transaction was probably in the mempool on that node only and not actually sent. Did upgrading to new version resolve this issue @jRazer ?

[2019-02-11 06:53] alexcos20 commented on #211
Hello,
It is a new install  (2 weeks ago). While syncinc (took 2 days), everything was fine.

[2019-02-12 22:26] 0x6b656e commented on #211
Are you still experiencing this issue?

[2019-02-14 18:57] alexcos20 commented on #211
Yes, found it today crashed again :(

PS: Should I checkout the git and recompile again? Could help?

Thanks,

[2019-02-15 11:29] jRazer commented on #207
Upgrade and reindex blockchain

[2019-02-15 11:29] #207 closed

[2019-02-22 22:11] richardvtbtcp opened #221 "Add error message for error code 25 in btcpd"
Hi All!
It is possible, when sending a raw transaction, show not just
"error code: -25
error message:" <- empty string
if error is "ERROR: AcceptToMemoryPool: absurdly high fees"
Otherwise you can’t find it out without a log in debug mode, and this not only on the btcp node, in block explorer when broadcasts - the same error without a description

[2019-03-19 15:23] zebambam commented on #210
Hey, any update on this?

[2019-03-21 02:56] madtomic opened #225 "where are my coins?"
I just got my wallet sync and my coins are gone?

From my understanding, you guys were targeting shielded coins. Why are you burning my coins that never moved since I claimed them from snapshot. You can see that all coins were legit from 1:1 exchanged.

My address, b1BFy2UAo4RNVo5PD8nH4XMihqpZUijaTor

![image](https://user-images.githubusercontent.com/6004542/54731217-64699f80-4b63-11e9-9c38-570b2

[2019-03-29 15:56] ajabnoor opened #226 "Build issue while Fetching libsnark..."
I am trying to install the latest wallet on Ubuntu 18.04.2 LTS on a VM but the install stops at the following error

2019-03-29 05:11:39 ERROR 403: Forbidden.
wget: unable to resolve host address ‘github.com’
funcs.mk:242: recipe for target '/home/xxxx/BTCP/BitcoinPrivate/depends/sources/download-stamps/.stamp_fetched-libsnark-libsnark-3854b20c25e8bc567aab2b558dec84d45f4a3e73.tar.gz.hash' failed
m

[2019-03-30 00:49] ajabnoor commented on #226
I just solved it by installing latest ubuntu server version and works fine

[2019-03-30 00:49] #226 closed

[2019-03-30 02:11] interbiznw commented on #226
Thanks for posting the resolution, for documentation purposes for others that may run into this.

But seems like a networking or DNS issue was the root cause as it couldn't resolve github.com OR possibly the way you cloned.

[2019-05-10 13:33] egyptianbman opened #227 "Nodes Crashing"
I run several nodes and all keep crashing at around block height 525951 with the following error:

[code]

[2019-05-10 13:37] egyptianbman commented on #227
I was able to get the node to get passed that height by leaving the node off for around 24 hours. The node has shut down on me with the same error message three times so I don't believe the issue is resolved.

[2019-05-29 04:30] Fair-Exchange commented on #227
Same issue here.   We're working around this for now.

[2019-06-05 16:02] laakie commented on #227
2019-06-05 16:01:40 UpdateTip: new best=0000000e6ffa0038585ae5e89412204a63dcdc6c67c6e8df816315d612e985c4  height=525549  log2_work=49.759289  tx=56302182  date=2019-05-08 08:23:32 progress=0.995276  cache=4.0MiB(4977tx)
btcpd: wallet/wallet.cpp:803: void CWallet::DecrementNoteWitnesses(const CBlockIndex*): Assertion `nWitnessCacheSize > 0' failed.

[2019-07-03 17:38] AlexeyRudoy opened #228 "Cannot fetch zcash parameters"
### Describe the issue
Cannot fetch the network parameters using the provided scripts - looks like the files are gone from Google.

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1. ./zcash-fetch-params OR ./btcputil/fetch-params.sh

### Actual behaviour + errors

*root@f80fc55ab703:/tmp/btcp/depends/x86_64-unknown-linux-gnu/bin# ./zcash-fetch-param

[2019-07-22 09:47] bigdaveakers commented on #228
As a temporary measure the parameters can be downloaded from here

https://drive.google.com/file/d/1absJU3zcdawg2YZ77WP5hkfx_5WqifbZ/view

The BTCP infrastructure is undergoing rationalisation and as such some services and files are being rehosted to reduce costs. This was an oversight during transition and will be remedied at the next code release.

[2019-08-27 16:14] aguilaair commented on #228
Updated link: https://drive.google.com/open?id=1fAfBX_x41rzzSwlMkhKytLJbSNi94_PP

[2019-09-17 09:43] interbiznw commented on #228
Solved in #235

[2019-09-17 09:43] #228 closed

[2019-09-17 10:48] justjamesdev commented on #204
Fixed in https://github.com/BTCPrivate/BitcoinPrivate/pull/235

[2019-09-17 10:48] #204 closed

[2019-10-05 05:40] pinpins opened #236 "wallet crashing"
even after full resync getting

`btcpd: wallet/wallet.cpp:803: void CWallet::DecrementNoteWitnesses(const CBlockIndex*): Assertion `nWitnessCacheSize > 0' failed.

`

[2019-10-05 11:06] interbiznw commented on #236
Full resync? Do you mean reindex? rescan? Deleting blocks and doing a full new block download? Please provide more specifics.

[2019-10-06 05:10] laakie commented on #236
same problem here.
Reindex / rescan is forced on restart. ( Didn't add the flags to do so )
Hangs on :

2019-10-06 05:09:24 UpdateTip: new best=0000000c5eca6ed4c988cef18da8a702b9784600f3822ad1fd3652814d288b23  height=606789  log2_work=49.791435  tx=56488394  date=2019-09-28 09:36:47 progress=0.998712  cache=10.7MiB(10072tx)
btcpd: wallet/wallet.cpp:803: void CWallet::DecrementNoteWitnesses(const C

[2019-10-06 05:40] interbiznw commented on #236
Reindexing and Rescanning are two way different things. As with the previous post going to need more details.

- How long has this node been running prior to issues?
- Is this node mining or used in a mining pool?
- Is this node used as an explorer or other backend service node? or just for a local wallet?
- Have you manually tried to reindex? if so what were the results?
- Have you manually tried

[2019-10-07 08:46] pinpins commented on #236
I mean downloaded blockchain from scratch by peers

[2019-10-08 00:27] laakie commented on #236
How long has this node been running prior to issues?
1 year

Is this node mining or used in a mining pool?
yes

Is this node used as an explorer or other backend service node? or just for a local wallet?
no

Have you manually tried to reindex? if so what were the results?
yes, same result.

Have you manually tried to rescan? if so what were the results?
yes same result

debug.log:

2019-10-08 00:0

[2019-10-10 04:16] pinpins commented on #236
any update?

[2019-10-10 12:29] cernael commented on #236
I had the same issue. Looking through the log file, I notice that the crash is always preceeded by the chain reversing 100 blocks after connecting to a longer chain (and that the block hashes that are being reversed occur on the explorer, while the hashes from the longer chain don't). Digging further back, I found that the offending nodes all have the same IP address (in this case, 46.101.126.142)

[2019-10-16 07:49] interbiznw commented on #225
According to the explorer and that scerenshot the coins are in that wallet address. Likely your wallet wasn't or isn't synced fully if it's still not showing those coins. As of right now, the explorer is still showing that address with a balance.

The shielded coin burn has nothing to do with transparent coins, your referring two different things.

The regular coin burn that happened on unclaimed

[2019-10-16 07:49] #225 closed

[2019-10-16 07:50] interbiznw commented on #205
Closed as no longer relevant

[2019-10-16 07:50] #205 closed

[2019-10-16 07:52] interbiznw commented on #192
Closed as explorer branch was merged into master, and master branch can be used to run explorer now.

[2019-10-16 07:52] #192 closed

[2019-12-20 09:13] egyptianbman opened #244 "High memory usage"
The BTCP daemon consistently consumes considerably more (approx 4x) than all other zcash nodes. I'm not sure where the memory leak is but btcp's daemon consumes around 4GB of memory where other nodes consume:

- ZER: 584MB
- ZEL: 719MB
- ZEC: 1.18GB
- BTCZ: 593MB
- ANON: 216MB
- **BTCP: 4.029GB**

[2019-12-20 09:15] interbiznw commented on #244
Does it keep increasing? Or just uses more overall?

[2019-12-20 09:15] interbiznw commented on #244
also, are you sure it's not shielding during that time?

[2019-12-20 09:19] egyptianbman commented on #244
From what I'm seeing, it may not be releasing memory after shielding. This is on a node that does shied but the memory remains high 24/7.

[2019-12-20 09:26] interbiznw commented on #244
Only thing I can think of that would be different is btcp is not up to date with current zcash, and no sapling.. thus shielding taking more RAM, not sure on the not releasing part afterwards. Are all those other coins using sapling?

Also does it start out with lower RAM usage before it shields a transaction? Then goes up to 4+ GB and  stays?

[2020-04-09 01:53] Yahwehiscomingsoon opened #246 "Bitcoin private"
This issue tracker is only for technical issues related to btcpd.

General Bitcoin Private questions and/or support requests and are best directed to the [BTCP Support Website](https://support.btcprivate.org/).

For reporting Zcash-specific security vulnerabilities or for sensitive discussions with their security team, please contact [security@z.cash](mailto:security@z.cash). You can use the [GPG

[2020-04-09 01:54] Yahwehiscomingsoon commented on #246
Trying to run bitcoin private

[2020-04-09 09:45] interbiznw commented on #246
There is no active network. We are fixing some things and going to be launching a new chain as soon as all the work is done.

[2020-04-24 06:37] jahbless98 opened #247 "Key generator"

[2020-04-24 07:16] interbiznw commented on #247
Whats the issue??

[2021-01-20 21:35] #247 closed

[2021-01-20 21:35] #246 closed

[2021-11-21 17:30] Tman220 opened #250 "Gghj"
tylersgs$paystring.crypto.com

[2021-11-22 05:51] Tman220 opened #251 "Hu"
My Public Address to Receive ATOM cosmos1l4q67et0l5qxnu3wuqesv6s8vcn0w5f0rxhe9j

Pay me via Trust Wallet: https://link.trustwallet.com/send?coin=118&address=cosmos1l4q67et0l5qxnu3wuqesv6s8vcn0w5f0rxhe9j&amount=38.0

[2021-11-23 03:04] interbiznw commented on #250
What are you doing spamming this garbage here? STOP

[2021-11-23 03:04] #250 closed

[2021-11-23 03:04] interbiznw commented on #251
What are you doing spamming this garbage here? STOP

[2021-11-23 03:04] #251 closed

[2022-02-19 18:52] Samuelclement1 opened #252 "Hi"

[2022-02-20 21:57] Samuelclement1 opened #253 "LINK.transfer"

[2022-02-21 02:39] #252 closed

[2022-02-21 03:00] Samuelclement1 opened #254 "### Description"
### Description

Refering to https://github.com/getumbrel/umbrel-os/issues/248

### Problem to be solved

I'd like to be able to use the API 'GET Address UTXO' on my umbrel node

#### Additional info

See link provided in "### Description" ^^

__Originally posted by @zatJUM in https://github.com/mempool/mempool/issues/1184__

[2022-02-28 03:30] Samuelclement1 opened #255 "Hi Sir ..."
Hi Sir ...

How to test words in reverse in the passwordlist ?
is this possible ?

Thanks.

__Originally posted by @aliriahy in https://github.com/3rdIteration/btcrecover/issues/324__

[2022-04-13 06:34] lauux opened #256 "ERROR 403: Forbidden when running "./btcputil/fetch-params.sh""
### Description
The error occurred with the error code 403 when I ran the ./btcputil/fetch-params.sh to connect to params.btcprivate.org. Guessing it might be blocked by the cloudflare ddos protection, I don't know how to deal with it.

The log is below:
[code]

Bitcoin Private Daemon version v1.0.15-g6af8ce106
Operating System: Ubuntu 18.04 x64